# **Data Preparation**

## **Exploring the data**

### **Dataset 1** 
This data frame describes various measurements taken at the falicity like the Braden Scale Score, Moisture and other recorded factors.

In [1]:

import pandas as pd

df = pd.read_csv('Data/wounds/deidentified/JG_Wound_Flowsheet_ANON.csv')
print(df.head())

   flo_meas_id                     FLO_MEAS_NAME                    DISP_NAME  \
0        16073  R WOUND EHC PRESENT ON ADMISSION  Wound Present on Admission?
1       305180         R SKIN BRADEN SCALE SCORE           Braden Scale Score
2       305130      R SKIN BRADEN SCALE MOISTURE                     Moisture
3       305180         R SKIN BRADEN SCALE SCORE           Braden Scale Score
4       305130      R SKIN BRADEN SCALE MOISTURE                     Moisture

  MEAS_VALUE  empi_nbr_anon         csn_anon   RECORDED_TIME_anon
0        Yes       42470763  410803377446197  2022-10-02 00:01:00
1         14       42470763  410803377446197  2023-01-02 09:00:00
2          3       42470763  410803377446197  2023-01-02 21:00:00
3         14       42470763  410803377446197  2023-01-03 09:08:00
4          3       42470763  410803377446197  2023-01-03 20:01:00

In [7]:
unique_count = df['empi_nbr_anon'].nunique()
print(f"Number of unique values in 'empi_nbr_anon': {unique_count}")

Number of unique values in 'empi_nbr_anon': 202582

In [8]:

print(df.columns)

Index(['flo_meas_id', 'FLO_MEAS_NAME', 'DISP_NAME', 'MEAS_VALUE',
       'empi_nbr_anon', 'csn_anon', 'RECORDED_TIME_anon'],
      dtype='object')

### **Dataset 2**
This describes the associated comorbities related to the patient.

In [9]:
import pandas as pd

df_1= pd.read_csv('Data/wounds/deidentified/JG_Wounds_Dx_ANON.csv')
print(df_1.head(50))

    dx_id                                            DX_NAME  \
0       4                               Cholera, unspecified
1       6                                      Typhoid fever
2       6                                      Typhoid fever
3       6                                      Typhoid fever
4       6                                      Typhoid fever
5      12                         Salmonella gastroenteritis
6      12                         Salmonella gastroenteritis
7      12                         Salmonella gastroenteritis
8      12                         Salmonella gastroenteritis
9      13                    Salmonella septicemia (CMS-HCC)
10     18                     Salmonella arthritis (CMS-HCC)
11     18                     Salmonella arthritis (CMS-HCC)
12     19                 Salmonella osteomyelitis (CMS-HCC)
13     21              Other specified Salmonella infections
14     44                               Amebic liver abscess
15     46                               Amebic brain abscess
16     46                               Amebic brain abscess
17     51                                      Balantidiasis
18     51                                      Balantidiasis
19     52                                         Giardiasis
20     52                                         Giardiasis
21     52                                         Giardiasis
22     52                                         Giardiasis
23     52                                         Giardiasis
24     52                                         Giardiasis
25     52                                         Giardiasis
26     52                                         Giardiasis
27     52                                         Giardiasis
28     53                                        Coccidiosis
29     53                                        Coccidiosis
30     55                        Cryptosporidiosis (CMS-HCC)
31     55                        Cryptosporidiosis (CMS-HCC)
32     55                        Cryptosporidiosis (CMS-HCC)
33     55                        Cryptosporidiosis (CMS-HCC)
34     56                                     Cyclosporiasis
35     56                                     Cyclosporiasis
36     62  Intestinal infection due to enteropathogenic E...
37     62  Intestinal infection due to enteropathogenic E...
38     68   Intestinal infection due to Aerobacter aerogenes
39     73          Intestinal infection due to campylobacter
40     75  Intestinal infection due to Clostridium difficile
41     75  Intestinal infection due to Clostridium difficile
42     75  Intestinal infection due to Clostridium difficile
43     75  Intestinal infection due to Clostridium difficile
44     75  Intestinal infection due to Clostridium difficile
45     81                         Enteritis due to Rotavirus
46     88                              Other viral enteritis
47     88                              Other viral enteritis
48     88                              Other viral enteritis
49     88                              Other viral enteritis

   CURRENT_ICD10_LIST    empi_nbr_anon FIRST_DATE_anon LAST_DATE_anon
0               A00.9         28476181      2025-05-14            NaN
1              A01.00         69731277      2023-02-26     2025-04-23
2              A01.00  991133170787925      2023-08-11            NaN
3              A01.00   26725599870548      2024-02-01     2025-03-19
4              A01.00  749958716290173      2024-06-27     2025-01-09
5               A02.0         29699977      2022-07-18     2024-10-29
6               A02.0         53499918      2024-10-05            NaN
7               A02.0         17833048      2024-05-14     2024-05-14
8               A02.0  348540018182935      2024-07-06     2024-07-19
9               A02.1         82914789      2023-07-05     2023-07-05
10             A02.23         23200845      2021-05-04     2025-08-19
11             A02.23         84042483      2019-06-11     2019-06-11
12             A02.24  399523621569204      2023-06-04     2023-06-04
13              A02.8         78344600      2023-07-23     2025-06-19
14              A06.4  833444251065896      2024-07-01            NaN
15              A06.6  866337714138486      2021-02-22     2021-02-22
16              A06.6  277533129288449      2022-06-30     2022-06-30
17              A07.0   52729068558886      2024-04-12            NaN
18              A07.0         52290402      2024-09-13     2024-09-13
19              A07.1         22018492      2023-12-15     2024-12-27
20              A07.1         64008646      2023-01-23     2023-01-24
21              A07.1         34971255      2025-04-07     2025-04-12
22              A07.1         24454887      2024-02-02     2024-02-02
23              A07.1         70046298      2023-06-08     2023-06-12
24              A07.1         66996085      2023-10-31     2023-10-31
25              A07.1         82196344      2025-01-27     2025-01-28
26              A07.1  777902727967984      2023-04-11     2023-07-19
27              A07.1  519616908605733      2024-02-01            NaN
28              A07.3  132329878957260      2024-02-13     2024-09-28
29              A07.3  834178173326610      2023-06-27     2023-07-28
30              A07.2         65610483      2023-08-25     2023-08-25
31              A07.2         20484076      2017-02-27            NaN
32              A07.2         35523867      2023-01-16            NaN
33              A07.2         45255781      2023-02-11            NaN
34              A07.4         12401174      2023-07-05     2023-07-05
35              A07.4         96065840      2023-06-13     2023-06-13
36              A04.0  162523153697944      2024-04-09     2024-04-12
37              A04.0         72384578      2023-01-13     2023-01-13
38              A04.8  805753811489049      2023-01-07     2023-01-21
39              A04.5         87441860      2023-12-22     2023-12-22
40             A04.72         89303515      2022-10-24     2022-10-31
41             A04.72         72621784      2023-04-28     2025-01-30
42             A04.72         84675558      2023-01-25            NaN
43             A04.72         53160159      2024-08-29     2024-08-29
44             A04.72  805760210577755      2024-01-03     2024-02-26
45              A08.0  641624426963414      2024-03-14     2024-10-18
46             A08.39         43246520      2023-04-02            NaN
47             A08.39  982331409636972      2023-03-02            NaN
48             A08.39  227822092313298      2022-04-17     2024-09-13
49             A08.39  938972685804447      2024-04-19     2024-05-07

In [10]:
unique_count = df_1['empi_nbr_anon'].nunique()
print(f"Number of unique values in 'empi_nbr_anon': {unique_count}")

Number of unique values in 'empi_nbr_anon': 205080

In [11]:
print(df_1.columns)
print(df_1.shape)

Index(['dx_id', 'DX_NAME', 'CURRENT_ICD10_LIST', 'empi_nbr_anon',
       'FIRST_DATE_anon', 'LAST_DATE_anon'],
      dtype='object')
(13440986, 6)

### **Dataset 3**
This describes the various lab procedures undergone by the patient at the facility

In [12]:
import pandas as pd

df_2 = pd.read_csv('Data/wounds/deidentified/JG_Wounds_Labs_ANON.csv', low_memory=False)
print (df_2.head())
print(df_2.columns)

   proc_cat_id         proc_cat_name  proc_code   proc_desc  component_id  \
0            6  LAB URINE ORDERABLES        NaN  URINALYSIS           548
1            6  LAB URINE ORDERABLES        NaN  URINALYSIS           548
2            6  LAB URINE ORDERABLES        NaN  URINALYSIS           548
3            6  LAB URINE ORDERABLES        NaN  URINALYSIS           548
4            6  LAB URINE ORDERABLES        NaN  URINALYSIS           548

                  component loinc_code result_status lab_result  \
0  Ketone Urine Qualitative        NaN      Verified      Trace
1  Ketone Urine Qualitative        NaN      Verified   Negative
2  Ketone Urine Qualitative        NaN      Verified        Neg
3  Ketone Urine Qualitative        NaN      Verified   Negative
4  Ketone Urine Qualitative        NaN      Verified        Neg

   empi_nbr_anon         csn_anon collection_time_anon lab_result_time_anon
0       23144843  170498272866611  2024-12-01 10:52:00  2024-12-02 17:29:00
1       96063308  217254439892888  2024-05-18 21:39:00  2024-05-19 02:21:00
2       20695236  238807816006235  2023-01-19 16:32:00  2023-01-20 11:41:00
3       86642518  650831449636331  2023-06-11 06:14:00  2023-06-11 09:44:00
4       23810185  632900061273840  2023-12-27 15:28:00  2023-12-28 13:02:00
Index(['proc_cat_id', 'proc_cat_name', 'proc_code', 'proc_desc',
       'component_id', 'component', 'loinc_code', 'result_status',
       'lab_result', 'empi_nbr_anon', 'csn_anon', 'collection_time_anon',
       'lab_result_time_anon'],
      dtype='object')

In [13]:
print(df_2.shape)
print(df_2['empi_nbr_anon'].nunique())

(10634068, 13)
38640

In [14]:
df_2.iloc[990:1000]

,proc_cat_id,proc_cat_name,proc_code,proc_desc,component_id,component,loinc_code,result_status,lab_result,empi_nbr_anon,csn_anon,collection_time_anon,lab_result_time_anon
990,6,LAB URINE ORDERABLES,NaN,URINE CULTURE C&S + COLONY COUNT IF ABNORMAL U...,194,Mucus/LPF,NaN,Verified,1+,30710794,301672288157198,2023-08-24 03:22:00,2023-08-25 12:38:00
991,6,LAB URINE ORDERABLES,NaN,URINE CULTURE C&S + COLONY COUNT IF ABNORMAL U...,194,Mucus/LPF,NaN,Verified,1+,41364621,646100159148787,2023-11-01 00:51:00,2023-11-01 11:11:00
992,6,LAB URINE ORDERABLES,NaN,URINE CULTURE C&S + COLONY COUNT IF ABNORMAL U...,194,Mucus/LPF,NaN,Verified,1+,94693756,562140886434215,2023-03-10 11:27:00,2023-03-11 13:00:00
993,6,LAB URINE ORDERABLES,NaN,URINE CULTURE C&S + COLONY COUNT IF ABNORMAL U...,194,Mucus/LPF,NaN,Preliminary,1+,42255687,180108752970167,2023-10-27 00:23:00,2023-10-27 04:21:00
994,6,LAB URINE ORDERABLES,NaN,URINE CULTURE C&S + COLONY COUNT IF ABNORMAL U...,194,Mucus/LPF,NaN,Preliminary,1+,66096538,445163568760050,2022-11-17 03:03:00,2022-11-17 11:15:00
995,6,LAB URINE ORDERABLES,NaN,URINE CULTURE C&S + COLONY COUNT IF ABNORMAL U...,194,Mucus/LPF,NaN,Verified,1+,97197560,132080145535794,2024-01-12 04:34:00,2024-01-12 05:36:00
996,6,LAB URINE ORDERABLES,NaN,URINE CULTURE C&S + COLONY COUNT IF ABNORMAL U...,194,Mucus/LPF,NaN,Verified,1+,76004621,841993653201248,2024-06-01 09:23:00,2024-06-01 09:49:00
997,6,LAB URINE ORDERABLES,NaN,URINE CULTURE C&S + COLONY COUNT IF ABNORMAL U...,194,Mucus/LPF,NaN,Verified,1+,64635154,287921866121460,2024-03-29 01:35:00,2024-03-29 02:26:00
998,6,LAB URINE ORDERABLES,NaN,URINALYSIS,194,Mucus/LPF,NaN,Preliminary,OCC,87985823,842578812531900,2024-04-06 10:32:00,2024-04-09 17:01:00
999,6,LAB URINE ORDERABLES,NaN,URINALYSIS,194,Mucus/LPF,NaN,Preliminary,RARE,66869737,532062616577791,2025-01-15 17:56:00,2025-01-19 21:01:00

### **Dataset 4**
Describes the demographics of the patient

In [16]:

df_3 = pd.read_csv('Data/wounds/deidentified/JG_Wound_Demo_ANON.csv')
print(df_3.head())
print(df_3.columns)

   gender         race                                  ethnicity  \
0    Male        White  Not Hispanic, Latino/a, or Spanish origin
1  Female        White  Not Hispanic, Latino/a, or Spanish origin
2    Male      Unknown                                    Unknown
3    Male  Other Asian  Not Hispanic, Latino/a, or Spanish origin
4  Female        White  Not Hispanic, Latino/a, or Spanish origin

   pat_mrn_id_anon    dob_anon death_date_anon
0   39701943567486  1957-04-20             NaN
1         44229492  1950-06-29             NaN
2  676571164158529  1950-09-04             NaN
3  289951627827261  1981-02-07             NaN
4  649654067432025  1975-04-24             NaN
Index(['gender', 'race', 'ethnicity', 'pat_mrn_id_anon', 'dob_anon',
       'death_date_anon'],
      dtype='object')

In [18]:
print(df_3['pat_mrn_id_anon'].nunique())

205083

### **Dataset 5** 
This describes various temporal factors related to the patients.

In [62]:
df_4= pd.read_csv('Data/wounds/deidentified/JG_DM_WOUNDS_ANON.csv')
print(df_4.columns)
print(df_4.shape)

Index(['RECORD_ID', 'REGISTRY_STATUS_C', 'LDA_ID', 'CM_PHY_OWNER_ID',
       'CM_LOG_OWNER_ID', 'WOUND_TYPE_C', 'OUTCOME_C', 'DAYS_TO_HEAL',
       'DAYS_TO_HEAL_OUTPAT', 'STAGE_INITIAL_C', 'STAGE_CURRENT_C',
       'PRESENT_ON_ADMISSION_YN', 'INITIAL_DEPARTMENT_ID',
       'PAT_AGE_YEARS_FIRST_ASSESS', 'LAST_OUTPAT_DEPARTMENT_ID',
       'NUM_OUTPAT_HOV_VISITS', 'LAST_DISCH_DEPARTMENT_ID',
       'LAST_HH_VISIT_DEPARTMENT_ID', 'NUM_HH_VISITS', 'PCT_VOLUME_HEALED',
       'LAST_WOUND_AGE_DAYS', 'PCT_VOLUME_HEALED_4W', 'PCT_VOLUME_HEALED_8W',
       'PCT_VOLUME_HEALED_12W', 'PCT_VOLUME_HEALED_16W',
       'PCT_VOLUME_HEALED_20W', 'PCT_AREA_HEALED', 'PCT_AREA_HEALED_4W',
       'PCT_AREA_HEALED_8W', 'PCT_AREA_HEALED_12W', 'PCT_AREA_HEALED_16W',
       'PCT_AREA_HEALED_20W', 'LAST_OUTPAT_WOUND_AGE_DAYS',
       'PCT_VOLUME_HEALED_OUTPAT', 'PCT_VOLUME_HEALED_4W_OUTPAT',
       'PCT_VOLUME_HEALED_8W_OUTPAT', 'PCT_VOLUME_HEALED_12W_OUTPAT',
       'PCT_VOLUME_HEALED_16W_OUTPAT', 'PCT_VOLUME_HEALED_20W_OUTPAT',
       'PCT_AREA_HEALED_OUTPAT', 'PCT_AREA_HEALED_4W_OUTPAT',
       'PCT_AREA_HEALED_8W_OUTPAT', 'PCT_AREA_HEALED_12W_OUTPAT',
       'PCT_AREA_HEALED_16W_OUTPAT', 'PCT_AREA_HEALED_20W_OUTPAT',
       'PCT_HEALED_LAST_ENC', 'LAST_APPROX_WOUND_AGE_DAYS',
       'RESPONSIBLE_PROV_ID', 'ADDED_IN_ERROR_YN', 'ACQUIRED_CARE_SETTING_C',
       'PLACED_ON_CUR_ADM_YN', 'PRESENT_ON_ADM_MOD_YN', 'WOUND_TYPE_GROUP_C',
       'SECONDARY_WOUND_TYPE_C', 'WOUND_TYPE_INVALID_YN',
       'MEDICAL_DEVICE_RELATED_YN', 'empi_nbr_anon', 'OUTCOME_DATE_anon',
       'LAST_WOUND_ASSESS_DATE_anon', 'LAST_OUTPAT_VISIT_DATE_anon',
       'LAST_ADM_DATE_anon', 'LAST_DISCH_DATE_anon',
       'FIRST_HH_VISIT_DATE_anon', 'LAST_HH_VISIT_DATE_anon',
       'FIRST_ASSESS_DATE_anon', 'FIRST_ASSESS_OUTPAT_DATE_anon'],
      dtype='object')
(490217, 66)

In [63]:
unique_count = df_4['empi_nbr_anon'].nunique()
print(f"Number of unique values in 'empi_nbr_anon df_4': {unique_count}")

Number of unique values in 'empi_nbr_anon df_4': 209285

### Check if all the columns have enough not null values and the data type

In [12]:
import pandas as pd

# Step 1: Select all columns
columns_to_check = [col for col in df.columns]

# Step 2: Create a DataFrame showing non-null counts and data types
non_null_counts = df[columns_to_check].notna().sum()
data_types = df[columns_to_check].dtypes

summary = pd.DataFrame({
    'Non-Null Count': non_null_counts,
    'Data Type': data_types
}).sort_values(by='Non-Null Count', ascending=False)

print(" Non-null counts with data types:\n")
print(summary)

# Step 3: Drop rows where all selected columns are null
filtered_df = df[df[columns_to_check].notna().any(axis=1)]

print(f"\n Filtered dataset size: {filtered_df.shape}")

 Non-null counts with data types:

                    Non-Null Count Data Type
flo_meas_id               48370271     int64
FLO_MEAS_NAME             48370271    object
DISP_NAME                 48370271    object
empi_nbr_anon             48370271     int64
csn_anon                  48370271     int64
RECORDED_TIME_anon        48370269    object
MEAS_VALUE                45828077    object

 Filtered dataset size: (48370271, 7)

In [13]:
print("Value counts for FLo_Meas_Name:")
print(df['FLO_MEAS_NAME'].value_counts(dropna=False))

print("\nValue counts for Disp_name:")
print(df['DISP_NAME'].value_counts(dropna=False))

Value counts for FLo_Meas_Name:
FLO_MEAS_NAME
R WOUND SITE ASSESSMENT                                             5308977
R PERI-WOUND ASSESSMENT                                             4583631
R SKIN BRADEN SCALE SENSORY PERCEPTIONS                             3799547
R SKIN BRADEN SCALE MOISTURE                                        3797162
R SKIN BRADEN SCALE ACTIVITY                                        3796642
                                                                     ...
CPM S24 R INVG ED GUNSHOT WOUND MANAGEMENT (PEDIATRIC)                    2
R CONVERTED DEVICE TO WOUND DRAINAGE ONLY                                 2
R $ EHC IP WOUND DEBRIDEMENT EA ADDL 20 SQ CM                             1
R RHB OT ELECTRICAL STIMULATION UNATTENDED (MEDICARE, NON-WOUND)          1
R NDNQI HAPI WOUND 1 UNIT ACQUIRED                                        1
Name: count, Length: 97, dtype: int64

Value counts for Disp_name:
DISP_NAME
Site Assessment                            5308977
Peri-Wound Assessment                      4583631
Sensory Perception                         3801400
Moisture                                   3799008
Out of Bed Activity                        3796642
                                            ...
Debridement Area (cm^2)                          3
Converted Device to Wound Drainage Only          2
Stab Wound Management                            2
$ Wound Debridement Each Addl 20 SQ CM           1
HAPI Wound 1 Unit Acquired                       1
Name: count, Length: 89, dtype: int64

### DF_2

In [14]:

# Step 1: Select all columns
columns_to_check = [col for col in df_1.columns]

# Step 2: Create a DataFrame showing non-null counts and data types
non_null_counts = df_1[columns_to_check].notna().sum()
data_types = df_1[columns_to_check].dtypes

summary = pd.DataFrame({
    'Non-Null Count': non_null_counts,
    'Data Type': data_types
}).sort_values(by='Non-Null Count', ascending=False)

print(" Non-null counts with data types:\n")
print(summary)

# Step 3: Drop rows where all selected columns are null
filtered_df_1 = df_1[df_1[columns_to_check].notna().any(axis=1)]

print(f"\n Filtered dataset size: {filtered_df_1.shape}")

 Non-null counts with data types:

                    Non-Null Count Data Type
dx_id                     13440986     int64
DX_NAME                   13440986    object
empi_nbr_anon             13440986     int64
CURRENT_ICD10_LIST        13440047    object
FIRST_DATE_anon           13429539    object
LAST_DATE_anon            12735272    object

 Filtered dataset size: (13440986, 6)

### DF_3

In [15]:

# Step 1: Select all columns
columns_to_check = [col for col in df_2.columns]

# Step 2: Create a DataFrame showing non-null counts and data types
non_null_counts = df_2[columns_to_check].notna().sum()
data_types = df_2[columns_to_check].dtypes

summary = pd.DataFrame({
    'Non-Null Count': non_null_counts,
    'Data Type': data_types
}).sort_values(by='Non-Null Count', ascending=False)

print(" Non-null counts with data types:\n")
print(summary)

# Step 3: Drop rows where all selected columns are null
filtered_df_2 = df_2[df_2[columns_to_check].notna().any(axis=1)]

print(f"\n Filtered dataset size: {filtered_df_2.shape}")

 Non-null counts with data types:

                      Non-Null Count Data Type
proc_cat_id                 10634068     int64
proc_cat_name               10634068    object
proc_desc                   10634068    object
component_id                10634068     int64
component                   10634068    object
csn_anon                    10634068     int64
result_status               10634068    object
empi_nbr_anon               10634068     int64
collection_time_anon        10634034    object
lab_result                  10631586    object
lab_result_time_anon        10314501    object
loinc_code                      1631    object
proc_code                          0   float64

 Filtered dataset size: (10634068, 13)

### DF_4

In [16]:

# Step 1: Select all columns
columns_to_check = [col for col in df_3.columns]

# Step 2: Create a DataFrame showing non-null counts and data types
non_null_counts = df_3[columns_to_check].notna().sum()
data_types = df_3[columns_to_check].dtypes

summary = pd.DataFrame({
    'Non-Null Count': non_null_counts,
    'Data Type': data_types
}).sort_values(by='Non-Null Count', ascending=False)

print(" Non-null counts with data types:\n")
print(summary)

# Step 3: Drop rows where all selected columns are null
filtered_df_3 = df_3[df_3[columns_to_check].notna().any(axis=1)]

print(f"\n Filtered dataset size: {filtered_df_3.shape}")

 Non-null counts with data types:

                 Non-Null Count Data Type
gender                   205083    object
pat_mrn_id_anon          205083     int64
dob_anon                 205082    object
ethnicity                205051    object
race                     205048    object
death_date_anon            8688    object

 Filtered dataset size: (205083, 6)

### DF_5

In [17]:
import pandas as pd

# === Step 1: Exclude columns that end with '_ID' ===
columns_to_check = [col for col in df_4.columns if not col.endswith('_ID')]

# === Step 2: Count non-null values per relevant column ===
non_null_counts =df_4[columns_to_check].notna().sum().sort_values(ascending=False)

print(" Non-null counts (excluding ID columns):")
print(non_null_counts)

# === Step 3: Drop rows where all those columns are null ===
filtered_df_4 = df_4[df_4[columns_to_check].notna().any(axis=1)]

print(f"\n Filtered dataset size: {filtered_df_4.shape}")

 Non-null counts (excluding ID columns):
REGISTRY_STATUS_C                490217
empi_nbr_anon                    490217
NUM_HH_VISITS                    488114
ADDED_IN_ERROR_YN                488114
NUM_OUTPAT_HOV_VISITS            488114
ACQUIRED_CARE_SETTING_C          486554
PLACED_ON_CUR_ADM_YN             486554
PRESENT_ON_ADM_MOD_YN            486554
PAT_AGE_YEARS_FIRST_ASSESS       463955
FIRST_ASSESS_DATE_anon           463955
LAST_WOUND_AGE_DAYS              463620
LAST_WOUND_ASSESS_DATE_anon      456429
LAST_ADM_DATE_anon               390473
LAST_DISCH_DATE_anon             389780
WOUND_TYPE_INVALID_YN            279554
WOUND_TYPE_C                     214669
OUTCOME_DATE_anon                131992
LAST_OUTPAT_VISIT_DATE_anon      118842
FIRST_ASSESS_OUTPAT_DATE_anon    118842
LAST_OUTPAT_WOUND_AGE_DAYS       118652
OUTCOME_C                         56896
PCT_HEALED_LAST_ENC               49268
DAYS_TO_HEAL                      36837
PCT_AREA_HEALED                   34316
STAGE_CURRENT_C                   26022
STAGE_INITIAL_C                   26022
PCT_VOLUME_HEALED                 23989
PCT_AREA_HEALED_4W                10874
DAYS_TO_HEAL_OUTPAT               10738
PCT_AREA_HEALED_OUTPAT            10435
PCT_VOLUME_HEALED_OUTPAT           9751
PCT_AREA_HEALED_8W                 9221
PCT_AREA_HEALED_12W                8123
PCT_VOLUME_HEALED_4W               7836
PCT_AREA_HEALED_16W                7444
LAST_APPROX_WOUND_AGE_DAYS         7200
PCT_AREA_HEALED_20W                6985
PCT_VOLUME_HEALED_8W               6881
PCT_VOLUME_HEALED_12W              6190
PCT_AREA_HEALED_4W_OUTPAT          6048
PCT_VOLUME_HEALED_16W              5706
PCT_VOLUME_HEALED_4W_OUTPAT        5504
PCT_VOLUME_HEALED_20W              5332
PCT_AREA_HEALED_8W_OUTPAT          5127
PCT_VOLUME_HEALED_8W_OUTPAT        4716
PCT_AREA_HEALED_12W_OUTPAT         4561
PCT_VOLUME_HEALED_12W_OUTPAT       4224
PCT_AREA_HEALED_16W_OUTPAT         4181
PCT_AREA_HEALED_20W_OUTPAT         3904
PCT_VOLUME_HEALED_16W_OUTPAT       3901
PCT_VOLUME_HEALED_20W_OUTPAT       3672
PRESENT_ON_ADMISSION_YN               0
WOUND_TYPE_GROUP_C                    0
MEDICAL_DEVICE_RELATED_YN             0
SECONDARY_WOUND_TYPE_C                0
LAST_HH_VISIT_DATE_anon               0
FIRST_HH_VISIT_DATE_anon              0
dtype: int64

 Filtered dataset size: (490217, 66)

### Grouping according to the id -"empi_nbr_anon"

In [21]:

def group_and_sort_by_patient(df, id_col='empi_nbr_anon', time_col=None):
   

    if time_col and time_col in df.columns:
        df[time_col] = pd.to_datetime(df[time_col])
        df = df.sort_values(by=[id_col, time_col])
    else:
        df = df.sort_values(by=id_col)

    print(f"Shape: {df.shape}")
    print(f"First few rows:\n{df.head()}")
    
    return df
print(df.iloc[1000:1010])

      flo_meas_id                            FLO_MEAS_NAME  \
1000       305120  R SKIN BRADEN SCALE SENSORY PERCEPTIONS
1001       303750                  R WOUND SITE ASSESSMENT
1002       305150             R SKIN BRADEN SCALE MOBILITY
1003       303750                  R WOUND SITE ASSESSMENT
1004      7061190                  R PERI-WOUND ASSESSMENT
1005       305170   R SKIN BRADEN SCALE FRICTION AND SHEAR
1006       305120  R SKIN BRADEN SCALE SENSORY PERCEPTIONS
1007   1570010000                 WOUND PRIMARY WOUND TYPE
1008       305150             R SKIN BRADEN SCALE MOBILITY
1009       303750                  R WOUND SITE ASSESSMENT

                  DISP_NAME MEAS_VALUE  empi_nbr_anon         csn_anon  \
1000     Sensory Perception          3       42470763  410803377446197
1001        Site Assessment        Dry       42470763  410803377446197
1002        In Bed Mobility          3       42470763  410803377446197
1003        Site Assessment  Clean;Dry       42470763  410803377446197
1004  Peri-Wound Assessment  Macerated       42470763  410803377446197
1005     Friction and Shear          2       42470763  410803377446197
1006     Sensory Perception          3       42470763  410803377446197
1007     Primary Wound Type     100000       42066881  961631696961608
1008        In Bed Mobility          1       42066881  961631696961608
1009        Site Assessment      Clean       42066881  961631696961608

       RECORDED_TIME_anon
1000  2023-02-01 06:54:00
1001  2023-02-01 09:00:00
1002  2023-02-01 09:00:00
1003  2023-02-01 15:03:00
1004  2023-02-01 15:03:00
1005  2023-02-01 19:00:00
1006  2023-02-02 09:00:00
1007  2022-03-23 00:01:00
1008  2022-06-23 11:00:00
1009  2022-06-23 13:44:00

In [22]:
def group_and_sort_by_patient(df_1, id_col='empi_nbr_anon', time_col=None):
   

    if time_col and time_col in df.columns:
        df_1[time_col] = pd.to_datetime(df_1[time_col])
        df_1 = df_1.sort_values(by=[id_col, time_col])
    else:
        df_1 = df_1.sort_values(by=id_col)

    print(f"Shape: {df_1.shape}")
    print(f"First few rows:\n{df_1.head()}")
    
    return df_1
print(df_1.iloc[1000:1010])

      dx_id                                            DX_NAME  \
1000    738  Human immunodeficiency virus (HIV) disease (CM...
1001    738  Human immunodeficiency virus (HIV) disease (CM...
1002    738  Human immunodeficiency virus (HIV) disease (CM...
1003    795                      Herpes zoster with meningitis
1004    795                      Herpes zoster with meningitis
1005    804                 Herpes zoster keratoconjunctivitis
1006    804                 Herpes zoster keratoconjunctivitis
1007    804                 Herpes zoster keratoconjunctivitis
1008    804                 Herpes zoster keratoconjunctivitis
1009    805                        Herpes zoster iridocyclitis

     CURRENT_ICD10_LIST    empi_nbr_anon FIRST_DATE_anon LAST_DATE_anon
1000                B20         85189950      2019-12-03     2024-05-05
1001                B20         37253450      2023-04-24     2023-08-13
1002                B20         44451039      2022-09-28     2022-09-28
1003              B02.1         29597843      2023-08-01     2023-08-01
1004              B02.1         88507366      2023-01-14            NaN
1005             B02.33         29551162      2024-02-10            NaN
1006             B02.33         23716090      2022-12-25     2022-12-25
1007             B02.33  416054387639946      2025-01-16     2025-01-16
1008             B02.33  221696320857366      2022-11-27     2022-11-27
1009             B02.32         63492486      2024-02-04     2024-11-07

In [23]:
def group_and_sort_by_patient(df_2, id_col='empi_nbr_anon', time_col=None):
   

    if time_col and time_col in df.columns:
        df_2[time_col] = pd.to_datetime(df_2[time_col])
        df_2 = df_1.sort_values(by=[id_col, time_col])
    else:
        df_2 = df_1.sort_values(by=id_col)

    print(f"Shape: {df_2.shape}")
    print(f"First few rows:\n{df_2.head()}")
    
    return df_2
print(df_2.iloc[1000:1010])

      proc_cat_id         proc_cat_name  proc_code  \
1000            6  LAB URINE ORDERABLES        NaN
1001            6  LAB URINE ORDERABLES        NaN
1002            6  LAB URINE ORDERABLES        NaN
1003            1  LAB BLOOD ORDERABLES        NaN
1004            1  LAB BLOOD ORDERABLES        NaN
1005            1  LAB BLOOD ORDERABLES        NaN
1006            1  LAB BLOOD ORDERABLES        NaN
1007            1  LAB BLOOD ORDERABLES        NaN
1008            1  LAB BLOOD ORDERABLES        NaN
1009            1  LAB BLOOD ORDERABLES        NaN

                                             proc_desc  component_id  \
1000                                        URINALYSIS           194
1001                                        URINALYSIS           194
1002                                        URINALYSIS           194
1003  URINE MICROSCOPIC WITH REFLEX TO CULTURE - NO UA           194
1004  URINE MICROSCOPIC WITH REFLEX TO CULTURE - NO UA           194
1005  URINE MICROSCOPIC WITH REFLEX TO CULTURE - NO UA           194
1006  URINE MICROSCOPIC WITH REFLEX TO CULTURE - NO UA           194
1007  URINE MICROSCOPIC WITH REFLEX TO CULTURE - NO UA           194
1008  URINE MICROSCOPIC WITH REFLEX TO CULTURE - NO UA           194
1009  URINE MICROSCOPIC WITH REFLEX TO CULTURE - NO UA           194

      component loinc_code result_status lab_result  empi_nbr_anon  \
1000  Mucus/LPF        NaN   Preliminary       MANY       38164775
1001  Mucus/LPF        NaN   Preliminary       RARE       10926362
1002  Mucus/LPF        NaN      Verified        FEW       27633403
1003  Mucus/LPF        NaN      Verified         1+       92044030
1004  Mucus/LPF        NaN   Preliminary         1+       26403261
1005  Mucus/LPF        NaN   Preliminary         1+       91623074
1006  Mucus/LPF        NaN      Verified         1+       60589500
1007  Mucus/LPF        NaN   In Progress         1+       42527266
1008  Mucus/LPF        NaN   In Progress         1+       11372490
1009  Mucus/LPF        NaN      Verified         1+       44080587

             csn_anon collection_time_anon lab_result_time_anon
1000  658876092915617  2023-08-19 06:55:00  2023-08-23 11:00:00
1001  696006744397590  2024-10-12 09:14:00  2024-10-13 12:00:00
1002  180300828979338  2024-03-23 08:54:00  2024-03-23 09:54:00
1003  821477983075835  2022-10-09 11:20:00  2022-10-09 11:47:00
1004  882944602031364  2023-05-08 06:57:00  2023-05-08 08:33:00
1005  324630040947352  2023-04-05 15:33:00  2023-04-05 17:03:00
1006  517191729537645  2023-05-19 18:38:00  2023-05-19 20:12:00
1007  579240637153347  2023-04-30 12:29:00                  NaN
1008  346091470176028  2022-08-11 07:57:00                  NaN
1009  960293818002000  2022-09-16 13:35:00  2022-09-16 13:50:00

In [24]:
def group_and_sort_by_patient(df_3, id_col='empi_nbr_anon', time_col=None):
   

    if time_col and time_col in df.columns:
        df_3[time_col] = pd.to_datetime(df_3[time_col])
        df_3 = df_3.sort_values(by=[id_col, time_col])
    else:
        df_3 = df_3.sort_values(by=id_col)

    print(f"Shape: {df_3.shape}")
    print(f"First few rows:\n{df_3.head()}")
    
    return df_3
print(df_3.iloc[1000:1010])

      gender                       race  \
1000    Male  Black or African American
1001  Female                      White
1002  Female                Other Asian
1003    Male                      White
1004  Female  Black or African American
1005    Male                      White
1006    Male  Black or African American
1007    Male                      White
1008    Male  Black or African American
1009  Female                      White

                                      ethnicity  pat_mrn_id_anon    dob_anon  \
1000  Not Hispanic, Latino/a, or Spanish origin         19759120  1980-07-11
1001  Not Hispanic, Latino/a, or Spanish origin   54343050051362  1974-09-24
1002  Not Hispanic, Latino/a, or Spanish origin  153036042520956  1972-06-20
1003  Not Hispanic, Latino/a, or Spanish origin         63010674  1958-12-07
1004  Not Hispanic, Latino/a, or Spanish origin         12470946  1990-06-04
1005  Not Hispanic, Latino/a, or Spanish origin         80158641  1952-10-26
1006  Not Hispanic, Latino/a, or Spanish origin  857118492958624  1954-01-18
1007  Not Hispanic, Latino/a, or Spanish origin         47132686  1951-07-28
1008  Not Hispanic, Latino/a, or Spanish origin  197508430727348  1962-04-24
1009                                    Unknown         93149832  1985-12-28

          death_date_anon
1000                  NaN
1001                  NaN
1002                  NaN
1003                  NaN
1004                  NaN
1005                  NaN
1006  2024-10-30 00:00:00
1007                  NaN
1008                  NaN
1009                  NaN

In [25]:
def group_and_sort_by_patient(df_4, id_col='empi_nbr_anon', time_col=None):
   

    if time_col and time_col in df.columns:
        df_4[time_col] = pd.to_datetime(df_4[time_col])
        df_4 = df_4.sort_values(by=[id_col, time_col])
    else:
        df_4 = df_4.sort_values(by=id_col)

    print(f"Shape: {df_4.shape}")
    print(f"First few rows:\n{df_4.head()}")
    
    return df_4
print(df_4.iloc[1000:1010])

      RECORD_ID  REGISTRY_STATUS_C   LDA_ID  CM_PHY_OWNER_ID  CM_LOG_OWNER_ID  \
1000    6427562                  2   370603              NaN              NaN
1001   10040369                  1  2806384              NaN              NaN
1002    9398509                  1  2391826              NaN              NaN
1003    9398508                  1  2391825              NaN              NaN
1004    9644783                  1  2571355              NaN              NaN
1005    9644782                  1  2571354              NaN              NaN
1006    9644350                  1  2571156              NaN              NaN
1007    7106412                  1   766812              NaN              NaN
1008    7478384                  1  1028938              NaN              NaN
1009    7479453                  1  1030122              NaN              NaN

      WOUND_TYPE_C  OUTCOME_C  DAYS_TO_HEAL  DAYS_TO_HEAL_OUTPAT  \
1000       99999.0        1.0          21.0                 21.0
1001           NaN        NaN           NaN                  NaN
1002           5.0        NaN           NaN                  NaN
1003           5.0        NaN           NaN                  NaN
1004           5.0        NaN           NaN                  NaN
1005           5.0        NaN           NaN                  NaN
1006           5.0        NaN           NaN                  NaN
1007           NaN        NaN           NaN                  NaN
1008           5.0        NaN           NaN                  NaN
1009           NaN        NaN           NaN                  NaN

      STAGE_INITIAL_C  ...    empi_nbr_anon  OUTCOME_DATE_anon  \
1000              NaN  ...         60270467         2022-12-19
1001              NaN  ...  675334502684405                NaN
1002              NaN  ...         35273592                NaN
1003              NaN  ...         35273592                NaN
1004              NaN  ...         44380877                NaN
1005              NaN  ...         44380877                NaN
1006              NaN  ...         44380877                NaN
1007              NaN  ...         87790515                NaN
1008              NaN  ...  481378718528571                NaN
1009              NaN  ...  109287163878034                NaN

      LAST_WOUND_ASSESS_DATE_anon  LAST_OUTPAT_VISIT_DATE_anon  \
1000                   2022-12-19                   2022-12-19
1001                   2024-10-08                          NaN
1002                   2025-01-19                   2025-01-19
1003                   2025-01-19                   2025-01-19
1004                   2024-08-08                          NaN
1005                   2024-08-08                          NaN
1006                   2024-08-08                          NaN
1007                   2023-11-11                   2023-11-11
1008                   2023-12-05                          NaN
1009                   2024-01-20                          NaN

      LAST_ADM_DATE_anon  LAST_DISCH_DATE_anon  FIRST_HH_VISIT_DATE_anon  \
1000                 NaN                   NaN                       NaN
1001          2024-10-05            2024-10-10                       NaN
1002                 NaN                   NaN                       NaN
1003                 NaN                   NaN                       NaN
1004          2024-08-06            2024-08-08                       NaN
1005          2024-08-06            2024-08-08                       NaN
1006          2024-08-06            2024-08-08                       NaN
1007                 NaN                   NaN                       NaN
1008          2023-12-05            2023-12-05                       NaN
1009          2024-01-15            2024-01-20                       NaN

      LAST_HH_VISIT_DATE_anon  FIRST_ASSESS_DATE_anon  \
1000                      NaN              2022-11-28
1001                      NaN              2024-10-07
1002                      NaN              2025-01-19
1003                      NaN              2025-01-19
1004                      NaN              2024-08-07
1005                      NaN              2024-08-07
1006                      NaN              2024-08-07
1007                      NaN              2023-11-11
1008                      NaN              2023-12-05
1009                      NaN              2024-01-19

      FIRST_ASSESS_OUTPAT_DATE_anon
1000                     2022-11-28
1001                            NaN
1002                     2025-01-19
1003                     2025-01-19
1004                            NaN
1005                            NaN
1006                            NaN
1007                     2023-11-11
1008                            NaN
1009                            NaN

[10 rows x 66 columns]

In [26]:
!pip install rapidfuzz

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: rapidfuzz in ./.local/lib/python3.10/site-packages (3.13.0)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [94]:
#Check if the two columns have the same values before merging the datasets.

from rapidfuzz import fuzz, process

# Sample 100 pat_mrn_id_anon values from df_3
sample_pat_mrn_ids = df_3['pat_mrn_id_anon'].dropna().astype(str).sample(100, random_state=42).tolist()

# List of all unique empi_nbr_anon values from other datasets
empi_ids = df_1['empi_nbr_anon'].dropna().astype(str).unique().tolist()

# Match each pat_mrn_id to its best fuzzy match from empi_nbr_anon
matches = []
for pat_id in sample_pat_mrn_ids:
    best_match = process.extractOne(pat_id, empi_ids, scorer=fuzz.ratio)
    matches.append((pat_id, best_match[0], best_match[1]))  # (input_id, matched_id, score)

# Convert to DataFrame for inspection
import pandas as pd
match_df = pd.DataFrame(matches, columns=['pat_mrn_id_anon', 'matched_empi_nbr_anon', 'match_score'])

# Show top 20 matches
print(match_df.sort_values(by='match_score', ascending=False).head(20))

    pat_mrn_id_anon matched_empi_nbr_anon  match_score
99  721352333058575       721352333058575        100.0
0          52038177              52038177        100.0
1   709028747575363       709028747575363        100.0
2   677349187252760       677349187252760        100.0
84         56371799              56371799        100.0
85  203608217483035       203608217483035        100.0
86  396948598699699       396948598699699        100.0
87         62997860              62997860        100.0
88  963941689772112       963941689772112        100.0
89         60550181              60550181        100.0
90  637743716816524       637743716816524        100.0
91  689317992594289       689317992594289        100.0
12  583501552995726       583501552995726        100.0
13         44535279              44535279        100.0
14  804169681417242       804169681417242        100.0
15  367042057539326       367042057539326        100.0
16   12908103120256        12908103120256        100.0
17         42514454              42514454        100.0
18  135799562615664       135799562615664        100.0
19         40368781              40368781        100.0

### Find the number of unique patients in df_4

In [64]:
unique_patients_df4 = df_4['empi_nbr_anon'].nunique()
print(f"Number of unique patients in df_4: {unique_patients_df4}")

Number of unique patients in df_4: 209285

In [65]:
print("Null values in target columns:")
print(df_4[['DAYS_TO_HEAL', 'DAYS_TO_HEAL_OUTPAT']].isna().sum())

print("\n Available values:")
print(df_4[['DAYS_TO_HEAL', 'DAYS_TO_HEAL_OUTPAT']].notna().sum())

Null values in target columns:
DAYS_TO_HEAL           453380
DAYS_TO_HEAL_OUTPAT    479479
dtype: int64

 Available values:
DAYS_TO_HEAL           36837
DAYS_TO_HEAL_OUTPAT    10738
dtype: int64

Since the 'DAYS_TO_HEAL' column has more non-null values - we can consider that to be our target column and drop the other

#### **Select Columns which are not redundant**

In [66]:
# Compare non-null values that are equal
both_present = df_4[['DAYS_TO_HEAL_OUTPAT', 'DAYS_TO_HEAL' ]].dropna() #We drop rows where either column is null, comparing only the columns where both are present
num_equal = (both_present['DAYS_TO_HEAL'] == both_present['DAYS_TO_HEAL_OUTPAT']).sum() #Count how many times both columns have the same value
total = both_present.shape[0]
percent_match = (num_equal / total) * 100

print(f"Matching values: {num_equal} out of {total} ({percent_match:.2f}%)")

Matching values: 7734 out of 10154 (76.17%)

In [67]:
date_matches = df_4[['OUTCOME_DATE_anon', 'LAST_WOUND_ASSESS_DATE_anon']].dropna()
date_equal = (date_matches['OUTCOME_DATE_anon'] == date_matches['LAST_WOUND_ASSESS_DATE_anon']).sum()
total_date = date_matches.shape[0]
percent_date_match = (date_equal / total_date) * 100

print(f" Matching dates: {date_equal} out of {total_date} ({percent_date_match:.2f}%)")

 Matching dates: 131992 out of 131992 (100.00%)

Drop OUTCOME_DATE_anon as they are 100% equal.

In [68]:
non_null_age = df_4['LAST_APPROX_WOUND_AGE_DAYS'].notna().sum()
total_rows = df_4.shape[0]
percent_present = (non_null_age / total_rows) * 100

print(f" LAST_APPROX_WOUND_AGE_DAYS non-null: {non_null_age} / {total_rows} ({percent_present:.2f}%)")

 LAST_APPROX_WOUND_AGE_DAYS non-null: 7200 / 490217 (1.47%)

In [69]:
# Compare non-null values that are equal
both_present = df_4[['LAST_APPROX_WOUND_AGE_DAYS', 'LAST_WOUND_AGE_DAYS' ]].dropna() #We drop rows where either column is null, comparing only the columns where both are present
num_equal = (both_present['LAST_APPROX_WOUND_AGE_DAYS'] == both_present['LAST_WOUND_AGE_DAYS']).sum() #Count how many times both columns have the same value
total = both_present.shape[0]
percent_match = (num_equal / total) * 100

print(f"Matching values: {num_equal} out of {total} ({percent_match:.2f}%)")

Matching values: 3452 out of 7200 (47.94%)

Less than 50% of the values are matching so keep both the columns

NUM_HH_VISITS - is completely 0.0 so drop that

In [70]:
print(df_4['WOUND_TYPE_INVALID_YN'].value_counts(dropna=False, normalize=True) * 100)
print(df_4['PLACED_ON_CUR_ADM_YN'].value_counts(dropna=False, normalize=True) * 100)
print(df_4['PRESENT_ON_ADM_MOD_YN'].value_counts(dropna=False, normalize=True) * 100)

WOUND_TYPE_INVALID_YN
N      57.026582
NaN    42.973418
Name: proportion, dtype: float64
PLACED_ON_CUR_ADM_YN
N      98.315644
Y       0.937136
NaN     0.747220
Name: proportion, dtype: float64
PRESENT_ON_ADM_MOD_YN
N      99.25278
NaN     0.74722
Name: proportion, dtype: float64

We could keep only the column - WOUND_TYPE_INVALID_YN beacuse it has some variation ies 57% are NO so  this could help the model learn the patterns. The other two columns do not seem relevant.

In [71]:
final_columns_keep = [
    'empi_nbr_anon',

    # Target
    'DAYS_TO_HEAL',

    # Anchors
    'FIRST_ASSESS_DATE_anon',
    'LAST_WOUND_ASSESS_DATE_anon',

    # Derived wound age
    'LAST_WOUND_AGE_DAYS',
    'LAST_APPROX_WOUND_AGE_DAYS',

    # Patient static features
    'PAT_AGE_YEARS_FIRST_ASSESS',

    # Wound Features
    'WOUND_TYPE_C',
    'WOUND_TYPE_INVALID_YN',
    'STAGE_INITIAL_C',
    'STAGE_CURRENT_C',

    #Healing progression
    'PCT_HEALED_LAST_ENC', 'PCT_AREA_HEALED', 'PCT_VOLUME_HEALED',
    'PCT_AREA_HEALED_4W', 'PCT_AREA_HEALED_8W', 'PCT_AREA_HEALED_12W',
    'PCT_AREA_HEALED_16W', 'PCT_AREA_HEALED_20W',
    'PCT_VOLUME_HEALED_4W', 'PCT_VOLUME_HEALED_8W', 'PCT_VOLUME_HEALED_12W',
    'PCT_VOLUME_HEALED_16W', 'PCT_VOLUME_HEALED_20W',
    'PCT_AREA_HEALED_OUTPAT', 'PCT_VOLUME_HEALED_OUTPAT',
    'PCT_AREA_HEALED_4W_OUTPAT', 'PCT_AREA_HEALED_8W_OUTPAT',
    'PCT_AREA_HEALED_12W_OUTPAT', 'PCT_AREA_HEALED_16W_OUTPAT',
    'PCT_AREA_HEALED_20W_OUTPAT', 'PCT_VOLUME_HEALED_4W_OUTPAT',
    'PCT_VOLUME_HEALED_8W_OUTPAT', 'PCT_VOLUME_HEALED_12W_OUTPAT',
    'PCT_VOLUME_HEALED_16W_OUTPAT', 'PCT_VOLUME_HEALED_20W_OUTPAT',

    # Clinical stats
    'NUM_OUTPAT_HOV_VISITS'
]

In [72]:
df_4_reduced = df_4[final_columns_keep].copy()
df_4_reduced.head()

,empi_nbr_anon,DAYS_TO_HEAL,FIRST_ASSESS_DATE_anon,LAST_WOUND_ASSESS_DATE_anon,LAST_WOUND_AGE_DAYS,LAST_APPROX_WOUND_AGE_DAYS,PAT_AGE_YEARS_FIRST_ASSESS,WOUND_TYPE_C,WOUND_TYPE_INVALID_YN,STAGE_INITIAL_C,...,PCT_AREA_HEALED_8W_OUTPAT,PCT_AREA_HEALED_12W_OUTPAT,PCT_AREA_HEALED_16W_OUTPAT,PCT_AREA_HEALED_20W_OUTPAT,PCT_VOLUME_HEALED_4W_OUTPAT,PCT_VOLUME_HEALED_8W_OUTPAT,PCT_VOLUME_HEALED_12W_OUTPAT,PCT_VOLUME_HEALED_16W_OUTPAT,PCT_VOLUME_HEALED_20W_OUTPAT,NUM_OUTPAT_HOV_VISITS
0,73179547,NaN,2023-05-02,2023-05-02,0.0,NaN,64.0,NaN,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,51871450,NaN,2024-09-05,2024-09-05,0.0,NaN,49.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,51871450,NaN,2024-09-05,2024-09-06,1.0,NaN,49.0,5.0,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,56076621,NaN,2023-04-04,2023-04-04,0.0,NaN,55.0,5.0,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,56076621,NaN,NaN,2023-09-15,NaN,NaN,NaN,NaN,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [73]:
unique_patients_df4_reduced = df_4_reduced['empi_nbr_anon'].nunique()
print(f"Number of unique patients in df_4: {unique_patients_df4_reduced}")
print(df_4_reduced.shape)

Number of unique patients in df_4: 209285
(490217, 37)

### Combine the dataframes to increase the number of timesteps per patient and then eliminate patients with sparse data.

#### **DF_3**

Sorting pat_mrn_id_anon and empi_nbr to keep the patients which have both the ids

In [74]:
# Step 1: Rename pat_mrn_id_anon → empi_nbr_anon in df_3
df_3.rename(columns={'pat_mrn_id_anon': 'empi_nbr_anon'}, inplace=True)

# Step 2: Get only common patient IDs
common_ids = set(df_4_reduced['empi_nbr_anon'].dropna()) & set(df_3['empi_nbr_anon'].dropna())

# Step 3: Filter both datasets in-place
df_4_reduced = df_4_reduced[df_4_reduced['empi_nbr_anon'].isin(common_ids)].copy()
df_3 = df_3[df_3['empi_nbr_anon'].isin(common_ids)].copy()

# Confirm final sizes
print("Updated dataframes:")
print(f"df_4_reduced shape: {df_4_reduced.shape}")
print(f"df_3 shape: {df_3.shape}")
print(f"Common patients retained: {len(common_ids)}")
print(df_3.head())
print(df_4_reduced.columns)

Updated dataframes:
df_4_reduced shape: (483647, 37)
df_3 shape: (205067, 6)
Common patients retained: 205067
   gender         race                                  ethnicity  \
0    Male        White  Not Hispanic, Latino/a, or Spanish origin
1  Female        White  Not Hispanic, Latino/a, or Spanish origin
2    Male      Unknown                                    Unknown
3    Male  Other Asian  Not Hispanic, Latino/a, or Spanish origin
4  Female        White  Not Hispanic, Latino/a, or Spanish origin

     empi_nbr_anon    dob_anon death_date_anon
0   39701943567486  1957-04-20             NaN
1         44229492  1950-06-29             NaN
2  676571164158529  1950-09-04             NaN
3  289951627827261  1981-02-07             NaN
4  649654067432025  1975-04-24             NaN
Index(['empi_nbr_anon', 'DAYS_TO_HEAL', 'FIRST_ASSESS_DATE_anon',
       'LAST_WOUND_ASSESS_DATE_anon', 'LAST_WOUND_AGE_DAYS',
       'LAST_APPROX_WOUND_AGE_DAYS', 'PAT_AGE_YEARS_FIRST_ASSESS',
       'WOUND_TYPE_C', 'WOUND_TYPE_INVALID_YN', 'STAGE_INITIAL_C',
       'STAGE_CURRENT_C', 'PCT_HEALED_LAST_ENC', 'PCT_AREA_HEALED',
       'PCT_VOLUME_HEALED', 'PCT_AREA_HEALED_4W', 'PCT_AREA_HEALED_8W',
       'PCT_AREA_HEALED_12W', 'PCT_AREA_HEALED_16W', 'PCT_AREA_HEALED_20W',
       'PCT_VOLUME_HEALED_4W', 'PCT_VOLUME_HEALED_8W', 'PCT_VOLUME_HEALED_12W',
       'PCT_VOLUME_HEALED_16W', 'PCT_VOLUME_HEALED_20W',
       'PCT_AREA_HEALED_OUTPAT', 'PCT_VOLUME_HEALED_OUTPAT',
       'PCT_AREA_HEALED_4W_OUTPAT', 'PCT_AREA_HEALED_8W_OUTPAT',
       'PCT_AREA_HEALED_12W_OUTPAT', 'PCT_AREA_HEALED_16W_OUTPAT',
       'PCT_AREA_HEALED_20W_OUTPAT', 'PCT_VOLUME_HEALED_4W_OUTPAT',
       'PCT_VOLUME_HEALED_8W_OUTPAT', 'PCT_VOLUME_HEALED_12W_OUTPAT',
       'PCT_VOLUME_HEALED_16W_OUTPAT', 'PCT_VOLUME_HEALED_20W_OUTPAT',
       'NUM_OUTPAT_HOV_VISITS'],
      dtype='object')

In [75]:
#Merge demographic info into every row of df_4_reduced
df_4_reduced = df_4_reduced.merge(
    df_3,
    on='empi_nbr_anon',
    how='left'
)

# Step 3: Confirm columns added and preview
print(f" df_4_reduced shape after merge: {df_4_reduced.shape}")
print(" Newly added demo columns:", df_3.columns.tolist())
print(df_4_reduced.head(2))

 df_4_reduced shape after merge: (483647, 42)
 Newly added demo columns: ['gender', 'race', 'ethnicity', 'empi_nbr_anon', 'dob_anon', 'death_date_anon']
   empi_nbr_anon  DAYS_TO_HEAL FIRST_ASSESS_DATE_anon  \
0       73179547           NaN             2023-05-02
1       51871450           NaN             2024-09-05

  LAST_WOUND_ASSESS_DATE_anon  LAST_WOUND_AGE_DAYS  \
0                  2023-05-02                  0.0
1                  2024-09-05                  0.0

   LAST_APPROX_WOUND_AGE_DAYS  PAT_AGE_YEARS_FIRST_ASSESS  WOUND_TYPE_C  \
0                         NaN                        64.0           NaN
1                         NaN                        49.0           5.0

  WOUND_TYPE_INVALID_YN  STAGE_INITIAL_C  ...  PCT_VOLUME_HEALED_8W_OUTPAT  \
0                     N              NaN  ...                          NaN
1                   NaN              NaN  ...                          NaN

   PCT_VOLUME_HEALED_12W_OUTPAT  PCT_VOLUME_HEALED_16W_OUTPAT  \
0                           NaN                           NaN
1                           NaN                           NaN

   PCT_VOLUME_HEALED_20W_OUTPAT  NUM_OUTPAT_HOV_VISITS  gender  \
0                           NaN                    0.0  Female
1                           NaN                    0.0  Female

                        race                                  ethnicity  \
0  Black or African American  Not Hispanic, Latino/a, or Spanish origin
1  Black or African American  Not Hispanic, Latino/a, or Spanish origin

     dob_anon  death_date_anon
0  1958-12-28              NaN
1  1974-09-27              NaN

[2 rows x 42 columns]

In [76]:
df_4_reduced['empi_nbr_anon'].nunique()

205067

In [77]:
print(df_4_reduced['death_date_anon'].isna().sum())
print(df_4_reduced['FIRST_ASSESS_DATE_anon'].isna().sum())
print(df_4_reduced['LAST_WOUND_ASSESS_DATE_anon'].isna().sum())

444123
26081
33370

In [78]:
# Add binary alive/deceased flag
df_4_reduced['is_deceased'] = df_4_reduced['death_date_anon'].notna().astype(int)

In [79]:
print(df_4_reduced.shape)

(483647, 43)

In [80]:
# Drop rows with missing core demographic values
required_static_cols = ['gender', 'race', 'ethnicity', 'dob_anon']
date_cols = ['FIRST_ASSESS_DATE_anon','LAST_WOUND_ASSESS_DATE_anon']
df_4_reduced = df_4_reduced.dropna(subset=required_static_cols)
df_4_reduced = df_4_reduced.dropna(subset=date_cols)


# Confirm how many patients remain
print("After filtering null demographics:")
print(f"Remaining patients: {df_4_reduced['empi_nbr_anon'].nunique()}")
print(f"Remaining rows: {df_4_reduced.shape}")

After filtering null demographics:
Remaining patients: 189665
Remaining rows: (429137, 43)

In [81]:
print(df_4_reduced.iloc[1000:1010])

      empi_nbr_anon  DAYS_TO_HEAL FIRST_ASSESS_DATE_anon  \
1111       25092447           NaN             2022-09-14
1112       94590558          37.0             2023-04-13
1113       94590558          47.0             2023-05-20
1114       94590558           NaN             2023-09-28
1115       94590558           NaN             2024-05-22
1116       94590558         100.0             2024-05-22
1117       56478489           NaN             2023-10-22
1118       57247304           NaN             2024-10-01
1119       57247304           NaN             2024-10-01
1120       57247304           NaN             2024-10-01

     LAST_WOUND_ASSESS_DATE_anon  LAST_WOUND_AGE_DAYS  \
1111                  2022-10-12                 28.0
1112                  2023-05-20                 37.0
1113                  2023-07-06                 47.0
1114                  2024-05-22                237.0
1115                  2025-04-17                330.0
1116                  2024-08-30                100.0
1117                  2025-01-10                446.0
1118                  2024-10-01                  0.0
1119                  2024-10-01                  0.0
1120                  2024-10-01                  0.0

      LAST_APPROX_WOUND_AGE_DAYS  PAT_AGE_YEARS_FIRST_ASSESS  WOUND_TYPE_C  \
1111                         NaN                        39.0           1.0
1112                         NaN                        55.0           8.0
1113                        61.0                        55.0           NaN
1114                       293.0                        56.0           2.0
1115                         NaN                        56.0           2.0
1116                         NaN                        56.0           2.0
1117                         NaN                        61.0           NaN
1118                         NaN                        70.0           NaN
1119                         NaN                        70.0           NaN
1120                         NaN                        70.0           NaN

     WOUND_TYPE_INVALID_YN  STAGE_INITIAL_C  ...  \
1111                   NaN              2.0  ...
1112                   NaN              NaN  ...
1113                   NaN              NaN  ...
1114                   NaN              NaN  ...
1115                     N              NaN  ...
1116                   NaN              NaN  ...
1117                   NaN              NaN  ...
1118                     N              NaN  ...
1119                     N              NaN  ...
1120                     N              NaN  ...

      PCT_VOLUME_HEALED_12W_OUTPAT  PCT_VOLUME_HEALED_16W_OUTPAT  \
1111                           NaN                           NaN
1112                         100.0                         100.0
1113                         100.0                         100.0
1114                          93.0                           NaN
1115                       -1166.0                        -787.0
1116                          97.0                         100.0
1117                           NaN                           NaN
1118                           NaN                           NaN
1119                           NaN                           NaN
1120                           NaN                           NaN

      PCT_VOLUME_HEALED_20W_OUTPAT  NUM_OUTPAT_HOV_VISITS  gender  \
1111                           NaN                    0.0  Female
1112                         100.0                    2.0  Female
1113                         100.0                    2.0  Female
1114                           NaN                    3.0  Female
1115                        -713.0                    8.0  Female
1116                         100.0                    4.0  Female
1117                           NaN                    0.0  Female
1118                           NaN                    0.0    Male
1119                           NaN                    0.0    Male
1120                           NaN                    0.0    Male

                           race                                  ethnicity  \
1111  Black or African American  Not Hispanic, Latino/a, or Spanish origin
1112  Black or African American  Not Hispanic, Latino/a, or Spanish origin
1113  Black or African American  Not Hispanic, Latino/a, or Spanish origin
1114  Black or African American  Not Hispanic, Latino/a, or Spanish origin
1115  Black or African American  Not Hispanic, Latino/a, or Spanish origin
1116  Black or African American  Not Hispanic, Latino/a, or Spanish origin
1117                      White  Not Hispanic, Latino/a, or Spanish origin
1118                      White  Not Hispanic, Latino/a, or Spanish origin
1119                      White  Not Hispanic, Latino/a, or Spanish origin
1120                      White  Not Hispanic, Latino/a, or Spanish origin

        dob_anon  death_date_anon  is_deceased
1111  1983-07-12              NaN            0
1112  1967-06-17              NaN            0
1113  1967-06-17              NaN            0
1114  1967-06-17              NaN            0
1115  1967-06-17              NaN            0
1116  1967-06-17              NaN            0
1117  1962-02-15              NaN            0
1118  1954-05-11              NaN            0
1119  1954-05-11              NaN            0
1120  1954-05-11              NaN            0

[10 rows x 43 columns]

In [82]:
print(df_4_reduced.isna().sum())

empi_nbr_anon                        0
DAYS_TO_HEAL                    392367
FIRST_ASSESS_DATE_anon               0
LAST_WOUND_ASSESS_DATE_anon          0
LAST_WOUND_AGE_DAYS                134
LAST_APPROX_WOUND_AGE_DAYS      422083
PAT_AGE_YEARS_FIRST_ASSESS           0
WOUND_TYPE_C                    237661
WOUND_TYPE_INVALID_YN           191655
STAGE_INITIAL_C                 403888
STAGE_CURRENT_C                 403888
PCT_HEALED_LAST_ENC             381249
PCT_AREA_HEALED                 395053
PCT_VOLUME_HEALED               405286
PCT_AREA_HEALED_4W              418264
PCT_AREA_HEALED_8W              419917
PCT_AREA_HEALED_12W             421016
PCT_AREA_HEALED_16W             421695
PCT_AREA_HEALED_20W             422154
PCT_VOLUME_HEALED_4W            421302
PCT_VOLUME_HEALED_8W            422257
PCT_VOLUME_HEALED_12W           422948
PCT_VOLUME_HEALED_16W           423432
PCT_VOLUME_HEALED_20W           423806
PCT_AREA_HEALED_OUTPAT          419290
PCT_VOLUME_HEALED_OUTPAT        419893
PCT_AREA_HEALED_4W_OUTPAT       423314
PCT_AREA_HEALED_8W_OUTPAT       424209
PCT_AREA_HEALED_12W_OUTPAT      424743
PCT_AREA_HEALED_16W_OUTPAT      425102
PCT_AREA_HEALED_20W_OUTPAT      425368
PCT_VOLUME_HEALED_4W_OUTPAT     423795
PCT_VOLUME_HEALED_8W_OUTPAT     424565
PCT_VOLUME_HEALED_12W_OUTPAT    425035
PCT_VOLUME_HEALED_16W_OUTPAT    425343
PCT_VOLUME_HEALED_20W_OUTPAT    425569
NUM_OUTPAT_HOV_VISITS                0
gender                               0
race                                 0
ethnicity                            0
dob_anon                             0
death_date_anon                 391159
is_deceased                          0
dtype: int64

In [83]:
# Step 1: Drop unwanted columns
drop_cols = [col for col in df_4_reduced.columns if col.endswith('_OUTPAT')]
drop_cols += ['death_date_anon']  # Already handled by is_deceased
df_4_reduced.drop(columns=drop_cols, inplace=True)
print(f"Shape after cleaning: {df_4_reduced.shape}")

Shape after cleaning: (429137, 30)

In [84]:
# Drop columns with milestone PCTs (weekly healing metrics)
drop_pct_cols = [
    'PCT_AREA_HEALED_4W', 'PCT_AREA_HEALED_8W', 'PCT_AREA_HEALED_12W', 'WOUND_TYPE_INVALID_YN',
    'PCT_AREA_HEALED_16W', 'PCT_AREA_HEALED_20W',
    'PCT_VOLUME_HEALED_4W', 'PCT_VOLUME_HEALED_8W', 'PCT_VOLUME_HEALED_12W',
    'PCT_VOLUME_HEALED_16W', 'PCT_VOLUME_HEALED_20W'
]

df_4_reduced.drop(columns=drop_pct_cols, inplace=True)

print(f"Dropped unnecessary healing milestone columns")
print(f"Updated shape: {df_4_reduced.shape}")
print(f"updated patients: {df_4_reduced['empi_nbr_anon'].nunique()}")

Dropped unnecessary healing milestone columns
Updated shape: (429137, 19)
updated patients: 189665

In [85]:

# Fill missing LAST_WOUND_AGE_DAYS using LAST_APPROX_WOUND_AGE_DAYS
df_4_reduced['LAST_WOUND_AGE_DAYS'] = df_4_reduced['LAST_WOUND_AGE_DAYS'].fillna(
    df_4_reduced['LAST_APPROX_WOUND_AGE_DAYS']
)

# Drop rows where LAST_WOUND_AGE_DAYS is still missing
df_4_reduced = df_4_reduced[df_4_reduced['LAST_WOUND_AGE_DAYS'].notna()].copy()

# Drop the LAST_APPROX_WOUND_AGE_DAYS column
df_4_reduced = df_4_reduced.drop(columns=['LAST_APPROX_WOUND_AGE_DAYS'])

#print the shape to confirm changes
print(f"Filtered wound+demo data: {df_4_reduced.shape}")

Filtered wound+demo data: (429003, 18)

In [86]:
#check if days_to _heal is equal to the difference between first and last assess dates in the non-null columns

df_4_reduced['FIRST_ASSESS_DATE_anon'] = pd.to_datetime(df_4_reduced['FIRST_ASSESS_DATE_anon'], errors='coerce')
df_4_reduced['LAST_WOUND_ASSESS_DATE_anon'] = pd.to_datetime(df_4_reduced['LAST_WOUND_ASSESS_DATE_anon'], errors='coerce')

df_4_reduced['CALC_DAYS_TO_HEAL'] = (
    df_4_reduced['LAST_WOUND_ASSESS_DATE_anon'] - df_4_reduced['FIRST_ASSESS_DATE_anon']
).dt.days


valid_entries = df_4_reduced[
    df_4_reduced['DAYS_TO_HEAL'].notna() &
    df_4_reduced['CALC_DAYS_TO_HEAL'].notna() &
    (df_4_reduced['CALC_DAYS_TO_HEAL'] >= 0)
].copy()

valid_entries['DAYS_TO_HEAL'] = pd.to_numeric(valid_entries['DAYS_TO_HEAL'], errors='coerce')
comparison = valid_entries['DAYS_TO_HEAL'] - valid_entries['CALC_DAYS_TO_HEAL']
print("\nComparison stats between recorded DAYS_TO_HEAL and calculated:")
print(comparison.describe())

Comparison stats between recorded DAYS_TO_HEAL and calculated:
count    36770.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
dtype: float64

In [87]:
# Step 3: Fill missing DAYS_TO_HEAL where possible
mask_days_to_heal_missing = df_4_reduced['DAYS_TO_HEAL'].isna()
calculated_days = (
    pd.to_datetime(df_4_reduced.loc[mask_days_to_heal_missing, 'LAST_WOUND_ASSESS_DATE_anon']) -
    pd.to_datetime(df_4_reduced.loc[mask_days_to_heal_missing, 'FIRST_ASSESS_DATE_anon'])
).dt.days

df_4_reduced.loc[mask_days_to_heal_missing, 'DAYS_TO_HEAL'] = calculated_days

# Step 4: Confirm
print(f"Cleaned wound+demo data shape: {df_4_reduced.shape}")
print(f"Remaining missing DAYS_TO_HEAL: {df_4_reduced['DAYS_TO_HEAL'].isna().sum()}")

Cleaned wound+demo data shape: (429003, 19)
Remaining missing DAYS_TO_HEAL: 0

In [88]:
# Check if each patient has 1 unique wound type
wound_type_variation = (
    df_4_reduced.groupby('empi_nbr_anon')['WOUND_TYPE_C']
    .nunique()
    .reset_index(name='num_wound_types')
)

print(wound_type_variation['num_wound_types'].value_counts())

num_wound_types
1    96984
0    80549
2     8666
3     2462
4      726
5      193
6       36
7       14
9        2
8        1
Name: count, dtype: int64

In [89]:
# Sort first
df_4_reduced = df_4_reduced.sort_values(['empi_nbr_anon', 'FIRST_ASSESS_DATE_anon'])

# Forward fill safe columns
safe_forward_fill_cols = [
    'WOUND_TYPE_C',
    'STAGE_INITIAL_C',
    'STAGE_CURRENT_C',
    'PCT_AREA_HEALED',              
    'PCT_VOLUME_HEALED',
    'PCT_HEALED_LAST_ENC' 
]

df_4_reduced[safe_forward_fill_cols] = (
    df_4_reduced.groupby('empi_nbr_anon')[safe_forward_fill_cols]
    .transform('ffill')
)

print("Safe forward filling completed!")

Safe forward filling completed!

In [90]:
df_4_reduced = df_4_reduced.drop(columns= 'CALC_DAYS_TO_HEAL')

In [91]:
df_4_reduced = df_4_reduced.drop(columns=['dob_anon', 'LAST_WOUND_ASSESS_DATE_anon'])

In [92]:
print(df_4_reduced.isna().sum())
print(f"patients: {df_4_reduced['empi_nbr_anon'].nunique()}")
print(df_4_reduced.shape)

empi_nbr_anon                      0
DAYS_TO_HEAL                       0
FIRST_ASSESS_DATE_anon             0
LAST_WOUND_AGE_DAYS                0
PAT_AGE_YEARS_FIRST_ASSESS         0
WOUND_TYPE_C                  169104
STAGE_INITIAL_C               370511
STAGE_CURRENT_C               370511
PCT_HEALED_LAST_ENC           328258
PCT_AREA_HEALED               361142
PCT_VOLUME_HEALED             373908
NUM_OUTPAT_HOV_VISITS              0
gender                             0
race                               0
ethnicity                          0
is_deceased                        0
dtype: int64
patients: 189633
(429003, 16)

### **DF_1**

In [93]:
print(df_1['empi_nbr_anon'].nunique())
print(df_1.columns)
print(df_1.shape)

205080
Index(['dx_id', 'DX_NAME', 'CURRENT_ICD10_LIST', 'empi_nbr_anon',
       'FIRST_DATE_anon', 'LAST_DATE_anon'],
      dtype='object')
(13440986, 6)

In [94]:
keep_cols_df1 = [
    'empi_nbr_anon',
    'DX_NAME',
    'CURRENT_ICD10_LIST',
    'FIRST_DATE_anon',
    'LAST_DATE_anon'
]

In [95]:
# Get valid patient IDs from df_4_reduced
valid_ids = df_4_reduced['empi_nbr_anon'].unique()

# Filter df_1 to only include matching patients
df_1_filtered = df_1[df_1['empi_nbr_anon'].isin(valid_ids)][keep_cols_df1].copy()

#Inspect how many patients have comorbidity data
num_comorbid_patients = df_1_filtered['empi_nbr_anon'].nunique()
print(f"Comorbidity data available for {num_comorbid_patients} patients")

Comorbidity data available for 189631 patients

In [96]:
print(df_1_filtered.isna().sum())
print(df_1_filtered.shape)

empi_nbr_anon              0
DX_NAME                    0
CURRENT_ICD10_LIST       915
FIRST_DATE_anon        10982
LAST_DATE_anon        660432
dtype: int64
(12769321, 5)

In [97]:
unique_count = df_1_filtered['empi_nbr_anon'].nunique()
unique_count_1 = df_1_filtered['CURRENT_ICD10_LIST'].nunique()
print(unique_count, unique_count_1)

189631 38640

In [98]:

df_1_filtered = df_1_filtered.dropna(subset=['CURRENT_ICD10_LIST'])

In [99]:
unique_count_2 = df_1_filtered['empi_nbr_anon'].nunique()
print(unique_count_2)
print(df_1_filtered.shape)
print(df_1_filtered.isna().sum())

189631
(12768406, 5)
empi_nbr_anon              0
DX_NAME                    0
CURRENT_ICD10_LIST         0
FIRST_DATE_anon        10982
LAST_DATE_anon        660396
dtype: int64

In [100]:
# Step 1: Drop rows with missing LAST_DATE_anon
df_1_filtered = df_1_filtered.dropna(subset=['LAST_DATE_anon'])

# Step 2: Convert LAST_DATE_anon to datetime if not already
df_1_filtered['LAST_DATE_anon'] = pd.to_datetime(df_1_filtered['LAST_DATE_anon'], errors='coerce')

# Step 3: Sort by empi_nbr_anon and LAST_DATE_anon descending
df_1_filtered = df_1_filtered.sort_values(by=['empi_nbr_anon', 'LAST_DATE_anon'], ascending=[True, False])

# Step 4: Keep only top 10 records per patient
df_1_top10 = df_1_filtered.groupby('empi_nbr_anon').head(10).reset_index(drop=True)

# Step 5:Verify
print(f"After filtering, shape: {df_1_top10.shape}")
print(f"Unique patients: {df_1_top10['empi_nbr_anon'].nunique()}")

After filtering, shape: (1860631, 5)
Unique patients: 189631

In [154]:
df_1_filtered.to_csv("Comorbidity data.csv", index = False)

In [101]:
print(df_1_top10.isna().sum())

empi_nbr_anon         0
DX_NAME               0
CURRENT_ICD10_LIST    0
FIRST_DATE_anon       4
LAST_DATE_anon        0
dtype: int64

### **DF_2**

In [102]:
print(df_2.isna().sum())

proc_cat_id                    0
proc_cat_name                  0
proc_code               10634068
proc_desc                      0
component_id                   0
component                      0
loinc_code              10632437
result_status                  0
lab_result                  2482
empi_nbr_anon                  0
csn_anon                       0
collection_time_anon          34
lab_result_time_anon      319567
dtype: int64

In [103]:
# Step 1: Drop rows with critical nulls
df_2_cleaned = df_2.dropna(subset=['lab_result', 'lab_result_time_anon', 'empi_nbr_anon'])

# Step 2: Keep only relevant columns
df_2_cleaned = df_2_cleaned[['empi_nbr_anon', 'lab_result_time_anon', 'lab_result', 'component']]

# Optional: Parse timestamp
df_2_cleaned['lab_result_time_anon'] = pd.to_datetime(df_2_cleaned['lab_result_time_anon'], errors='coerce')

df_2_cleaned.head()

   empi_nbr_anon lab_result_time_anon lab_result                 component
0       23144843  2024-12-02 17:29:00      Trace  Ketone Urine Qualitative
1       96063308  2024-05-19 02:21:00   Negative  Ketone Urine Qualitative
2       20695236  2023-01-20 11:41:00        Neg  Ketone Urine Qualitative
3       86642518  2023-06-11 09:44:00   Negative  Ketone Urine Qualitative
4       23810185  2023-12-28 13:02:00        Neg  Ketone Urine Qualitative

In [104]:
print(df_2_cleaned.isna().sum())

empi_nbr_anon           0
lab_result_time_anon    0
lab_result              0
component               0
dtype: int64

 Most of the values in lab result were numerical so deleted the few categorical one's

In [105]:
# Step 1: Normalize values in-place
df_2_cleaned['lab_result'] = df_2_cleaned['lab_result'].astype(str).str.strip().str.lower()

# Step 2: Filter to keep only valid numeric or interpretable results
def is_valid_lab_result(val):
    try:
        float(val)  # valid numeric value
        return True
    except:
        return val in ['positive', 'negative', 'trace', 'small', 'moderate', 'large']

df_2_cleaned = df_2_cleaned[df_2_cleaned['lab_result'].apply(is_valid_lab_result)].copy()

In [106]:
#Filter out non-numeric values
# Try to convert to numeric (invalid parsing will become NaN)
df_2_cleaned['lab_result_numeric'] = pd.to_numeric(df_2_cleaned['lab_result'], errors='coerce')

# Drop rows where conversion failed (i.e., strings like 'moderate', 'trace', etc.)
df_2_cleaned_numeric_only = df_2_cleaned[df_2_cleaned['lab_result_numeric'].notna()].copy()

# Optional: Drop original string column if no longer needed
df_2_cleaned_numeric_only.drop(columns=['lab_result'], inplace=True)

# Rename column back to 'lab_result' if you want consistency
df_2_cleaned_numeric_only.rename(columns={'lab_result_numeric': 'lab_result'}, inplace=True)

# Confirm the result
print(df_2_cleaned_numeric_only[['empi_nbr_anon', 'lab_result']].head())
print(f"Filtered lab data shape: {df_2_cleaned_numeric_only.shape}")

      empi_nbr_anon  lab_result
6   505145333391334        80.0
7          66525184        15.0
14         32531570        20.0
20         12356951         5.0
21         60419008        80.0
Filtered lab data shape: (9017042, 4)

In [152]:
df_2_cleaned_numeric_only.to_csv("complete_lab.csv", index=False)

In [107]:
num_unique_patients = df_2_cleaned_numeric_only['empi_nbr_anon'].nunique()
print(f"Unique patients with numeric lab results: {num_unique_patients}")

Unique patients with numeric lab results: 36334

In [108]:
# Step 1: Convert lab_result_time_anon to datetime if not already
df_2_cleaned_numeric_only['lab_result_time_anon'] = pd.to_datetime(
    df_2_cleaned_numeric_only['lab_result_time_anon'], errors='coerce'
)

# Step 2: Sort by empi_nbr_anon and lab_result_time_anon descending (latest first)
df_2_cleaned_numeric_only = df_2_cleaned_numeric_only.sort_values(
    by=['empi_nbr_anon', 'lab_result_time_anon'],
    ascending=[True, False]
)

# Step 3: Keep only top 10 lab observations per patient
df_2_top10 = (
    df_2_cleaned_numeric_only
    .groupby('empi_nbr_anon')
    .head(10)
    .reset_index(drop=True)
)

# Step 4: (optional) Verify
print(f"After top-10 filtering, shape: {df_2_top10.shape}")
print(f"Unique patients: {df_2_top10['empi_nbr_anon'].nunique()}")
print(df_2_top10.head())

After top-10 filtering, shape: (336519, 4)
Unique patients: 36334
   empi_nbr_anon lab_result_time_anon                        component  \
0       10006796  2023-05-07 23:01:00                    Estimated GFR
1       10006796  2023-05-07 21:53:00            Immature Granulocytes
2       10006796  2023-05-07 21:53:00  Eosinophil, Auto Absolute Count
3       10006796  2023-05-07 21:53:00    Basophil, Auto Absolute Count
4       10006796  2023-05-07 21:53:00                 Lymphocyte, Auto

   lab_result
0       77.00
1        0.00
2        0.07
3        0.06
4       35.00

### **Finalizing the dataset**

In [109]:
# Step 1: Extract unique patient IDs from each current dataset
lab_patients = set(df_2_top10['empi_nbr_anon'].dropna().unique())
comorb_patients = set(df_1_top10['empi_nbr_anon'].dropna().unique())
wound_patients = set(df_4_reduced['empi_nbr_anon'].dropna().unique())

# Step 2: Find common patients across all three
common_patients = wound_patients & lab_patients & comorb_patients

print(f"Common patients found: {len(common_patients):,}")

Common patients found: 34,337

### **DF**

In [111]:

df = df[df['empi_nbr_anon'].isin(common_patients)].copy()
print(df.shape)
print(df['empi_nbr_anon']. nunique())

(14597466, 7)
33987

In [112]:
print(df.isna().sum())
print(df.shape)

flo_meas_id                0
FLO_MEAS_NAME              0
DISP_NAME                  0
MEAS_VALUE            663129
empi_nbr_anon              0
csn_anon                   0
RECORDED_TIME_anon         0
dtype: int64
(14597466, 7)

In [113]:
print(df['DISP_NAME'].value_counts())

DISP_NAME
Site Assessment                                                                     1600966
Peri-Wound Assessment                                                               1390660
Sensory Perception                                                                  1195075
Moisture                                                                            1194203
Nutrition                                                                           1193330
                                                                                     ...
Wound Type                                                                                4
Incisions, wounds, or drain sites healing without sign and symptoms of infection          4
Wound Location and Size                                                                   3
Wound Closure                                                                             2
E-Stim, Non-Wound (Unattended, Medicare) Time Entry (HCPCS G0283)                         2
Name: count, Length: 82, dtype: int64

In [114]:
# Step 1: Drop rows with missing MEAS_VALUE
df_cleaned = df.dropna(subset=['MEAS_VALUE']).copy()

# Step 2: Drop unnecessary columns
df_cleaned.drop(columns=['csn_anon', 'flo_meas_id','FLO_MEAS_NAME'], inplace=True)

# Step 3: Pivot the table
df_pivoted = df_cleaned.pivot_table(
    index=['empi_nbr_anon', 'RECORDED_TIME_anon'],  # Each patient-time combo
    columns='DISP_NAME',
    values='MEAS_VALUE',
    aggfunc='first'  # In case multiple measurements per time, take first
).reset_index()

# Step 4: Flatten the columns (after pivot, the DISP_NAME becomes columns)
df_pivoted.columns.name = None  # Remove pivot table hierarchy

# Confirm final structure
print("Final flo_meas pivoted data:")
print(df_pivoted.shape)
print(df_pivoted.head(2))
print(df_pivoted['empi_nbr_anon']. nunique())

Final flo_meas pivoted data:
(2023966, 83)
   empi_nbr_anon   RECORDED_TIME_anon $ Wound Debridement Charges  \
0       10006796  2025-06-24 00:03:00                         NaN
1       10006796  2025-06-30 09:10:00                         NaN

  (READ ONLY) Shape Activity Additional Tunneling Additional Undermining  \
0               NaN      NaN                  NaN                    NaN
1               NaN      NaN                  NaN                    NaN

  Anticipated Date of Next WOC Visit (This field is required)  \
0                                                NaN
1                                                NaN

  Assigned WOC Nurse Braden Q Score  ...  \
0                NaN            NaN  ...
1                NaN            NaN  ...

  Wound Photo Contraindication Reason(s) Wound Photo Taken Wound Photos Taken  \
0                                    NaN               NaN                NaN
1                                    NaN               NaN                NaN

  Wound Present on Admission? Wound Surface Area (cm^2) Wound Type  \
0                         NaN                       NaN        NaN
1                         NaN                       NaN        NaN

  Wound Ultrasound/MIST (Low Freq, Non-Contact, Non-Therm) Time Entry (97610)  \
0                                                NaN
1                                                NaN

  Wound Volume (cm^3) Wound Width (cm) Wounds Assessed
0                 NaN              NaN             NaN
1                 NaN              NaN             NaN

[2 rows x 83 columns]
33986

In [117]:
# Step 2: Drop extremely sparse columns
# Keep only features available for >=1% of data
threshold = 0.01  # keep columns with at least 1% non-missing
valid_cols = df_pivoted.isna().mean() < (1 - threshold)
df_pivoted = df_pivoted.loc[:, valid_cols]

print(f"Final shape after dropping sparse DISP_NAME columns: {df_pivoted.shape}")

Final shape after dropping sparse DISP_NAME columns: (2023966, 28)

In [115]:
print(df_pivoted['empi_nbr_anon']. nunique())

33986

In [118]:
# Calculate missing percentage per column
missing_info = (
    df_pivoted.isna().mean() * 100
).reset_index().rename(columns={0: 'percent_missing', 'index': 'column'})

# Sort nicely
missing_info = missing_info.sort_values(by='percent_missing', ascending=False)

print(missing_info)

                                  column  percent_missing
27           Wound Present on Admission?        98.828241
23          Wound Description (Comments)        98.646766
26                     Wound Photo Taken        98.268202
15                                  Odor        98.249526
19                    Primary Wound Type        97.883215
25            Wound Location Orientation        97.324165
24                           Wound Image        97.311368
18  Pressure Injury or Non-Healing Wound        97.098370
10                              Location        97.040019
13          Non-staged Wound Description        96.634726
11                               Margins        95.387620
4                        Drainage Amount        94.383601
22                            Treatments        93.934977
3                                Closure        92.479913
7                       Dressing Changed        92.144038
5                   Drainage Description        89.147545
6                               Dressing        71.539245
17                 Peri-Wound Assessment        52.232745
21                       Site Assessment        47.751395
2                     Braden Scale Score        41.300200
8                     Friction and Shear        41.162895
14                             Nutrition        41.075838
9                        In Bed Mobility        41.062992
16                   Out of Bed Activity        41.049207
12                              Moisture        41.033298
20                    Sensory Perception        40.990362
1                     RECORDED_TIME_anon         0.000000
0                          empi_nbr_anon         0.000000

In [119]:
print(df_pivoted['Primary Wound Type'].dropna().head(10))
print(df_pivoted['Primary Wound Type'].value_counts())

0      5
5      5
113    5
131    5
212    5
214    5
227    5
251    4
260    4
329    5
Name: Primary Wound Type, dtype: object
Primary Wound Type
5         18586
100009     7844
100010     5477
1          2968
99999      2423
6          1634
100000      920
8           661
100002      496
4           400
100003      333
2           270
3           164
100011      128
11          128
100008      104
7            94
100004       75
10           38
100005       35
100001       27
9            22
100006       16
Name: count, dtype: int64

In [76]:
print(df_pivoted['Wound Present on Admission?'].dropna().head(10))
print(df_pivoted['Wound Present on Admission?'].value_counts())

113      No
214      No
335     Yes
579     Yes
603     Yes
626      No
645      No
701      No
1096     No
1158    Yes
Name: Wound Present on Admission?, dtype: object
Wound Present on Admission?
No                         13952
Yes                         9196
Clinically undetermined      569
Name: count, dtype: int64

In [120]:
# Step 1: Drop totally irrelevant sparse columns first
cols_to_drop_completely = [
    'Wound Description (Comments)', 'Odor',
    'Wound Location Orientation', 'Wound Image',
    'Non-staged Wound Description', 'Wound Photo Taken'
]

df_pivoted = df_pivoted.drop(columns=[col for col in cols_to_drop_completely if col in df_pivoted.columns])
print(f"Dropped sparse/unrelated columns. Shape: {df_pivoted.shape}")

# Step 2: Sort properly
df_pivoted = df_pivoted.sort_values(['empi_nbr_anon', 'RECORDED_TIME_anon'])

# Step 3: Forward fill important clinical columns patient-wise
important_ffill_cols = [
    'Wound Present on Admission?', 'Primary Wound Type', 'Pressure Injury or Non-Healing Wound',
    'Location', 'Margins', 'Drainage Amount', 'Treatments', 'Closure',
    'Dressing Changed', 'Drainage Description', 'Dressing'
]

for col in important_ffill_cols:
    if col in df_pivoted.columns:
        df_pivoted[col] = df_pivoted.groupby('empi_nbr_anon')[col].ffill()

print(f"Forward fill completed! Shape after ffill: {df_pivoted.shape}")

# Step 4: Encode "Wound Present on Admission?" if available
if 'Wound Present on Admission?' in df_pivoted.columns:
    df_pivoted['Wound Present on Admission?'] = df_pivoted['Wound Present on Admission?'].map({'yes': 1, 'no': 0, 'Clinically undetermined ': 3})

# Step 5: Drop rows missing key skin assessment columns
columns_required_for_row = [
    'Peri-Wound Assessment', 'Site Assessment', 'Braden Scale Score',
    'Friction and Shear', 'Nutrition', 'In Bed Mobility',
    'Out of Bed Activity', 'Moisture', 'Sensory Perception'
]

before_row_drop = df_pivoted.shape[0]
df_pivoted = df_pivoted.dropna(subset=[col for col in columns_required_for_row if col in df_pivoted.columns])
after_row_drop = df_pivoted.shape[0]

print(f"Dropped {before_row_drop - after_row_drop} rows with critical skin assessment missing.")
print(f"Shape after row drop: {df_pivoted.shape}")
print(df_pivoted['empi_nbr_anon']. nunique())

Dropped sparse/unrelated columns. Shape: (2023966, 22)
Forward fill completed! Shape after ffill: (2023966, 22)
Dropped 1618964 rows with critical skin assessment missing.
Shape after row drop: (405002, 22)
18214

In [121]:
missing_info = (
    df_pivoted.isna().mean() * 100
).reset_index().rename(columns={0: 'percent_missing', 'index': 'column'})

# Sort nicely
missing_info = missing_info.sort_values(by='percent_missing', ascending=False)

print(missing_info)

                                  column  percent_missing
21           Wound Present on Admission?       100.000000
11                               Margins        53.945413
3                                Closure        38.951166
4                        Drainage Amount        37.800307
5                   Drainage Description        30.636392
20                            Treatments        24.879136
7                       Dressing Changed        16.305845
16  Pressure Injury or Non-Healing Wound        10.831551
17                    Primary Wound Type         7.006385
6                               Dressing         3.375045
10                              Location         0.604688
2                     Braden Scale Score         0.000000
0                          empi_nbr_anon         0.000000
1                     RECORDED_TIME_anon         0.000000
13                             Nutrition         0.000000
12                              Moisture         0.000000
8                     Friction and Shear         0.000000
9                        In Bed Mobility         0.000000
14                   Out of Bed Activity         0.000000
15                 Peri-Wound Assessment         0.000000
19                       Site Assessment         0.000000
18                    Sensory Perception         0.000000

In [129]:
# Drop rows where ALL key sparse columns are missing
key_sparse_cols = [
    'Margins', 'Closure', 'Drainage Amount', 'Drainage Description',
    'Treatments', 'Dressing Changed', 'Pressure Injury or Non-Healing Wound'
]

# Only drop if all key columns are NaN
df_pivoted = df_pivoted.dropna(subset=key_sparse_cols, how='any')

print(f"Shape after dropping fully sparse skin rows: {df_pivoted.shape}")
print(f"Unique patients remaining: {df_pivoted['empi_nbr_anon'].nunique()}")

Shape after dropping fully sparse skin rows: (104400, 21)
Unique patients remaining: 2072

In [130]:
missing_info = (
    df_pivoted.isna().mean() * 100
).reset_index().rename(columns={0: 'percent_missing', 'index': 'column'})

# Sort nicely
missing_info = missing_info.sort_values(by='percent_missing', ascending=False)

print(missing_info)

                                  column  percent_missing
17                    Primary Wound Type         0.977011
10                              Location         0.008621
2                     Braden Scale Score         0.000000
1                     RECORDED_TIME_anon         0.000000
0                          empi_nbr_anon         0.000000
4                        Drainage Amount         0.000000
3                                Closure         0.000000
7                       Dressing Changed         0.000000
5                   Drainage Description         0.000000
8                     Friction and Shear         0.000000
9                        In Bed Mobility         0.000000
11                               Margins         0.000000
6                               Dressing         0.000000
12                              Moisture         0.000000
13                             Nutrition         0.000000
15                 Peri-Wound Assessment         0.000000
14                   Out of Bed Activity         0.000000
16  Pressure Injury or Non-Healing Wound         0.000000
18                    Sensory Perception         0.000000
19                       Site Assessment         0.000000
20                            Treatments         0.000000

In [132]:
#remore the columns whih are redundant :
if 'Wound Present on Admission?' in df_pivoted.columns:
    df_pivoted = df_pivoted.drop(columns=['Wound Present on Admission?'])
print(f"Dropped 'Wound Present on Admission?' from df_pivoted. New shape: {df_pivoted.shape}")
if 'WOUND_TYPE_C' in df_4_reduced.columns:
    df_4_reduced = df_4_reduced.drop(columns=['WOUND_TYPE_C'])
print(f"Dropped 'WOUND_TYPE_C' from df_4_reduced. New shape: {df_4_reduced.shape}")

Dropped 'Wound Present on Admission?' from df_pivoted. New shape: (104400, 21)
Dropped 'WOUND_TYPE_C' from df_4_reduced. New shape: (429003, 15)

### **Merging the data**

In [133]:
print(f"Patients in df_4_reduced (wound+demo): {df_4_reduced['empi_nbr_anon'].nunique():,}")
print(f"Patients in df_1_top10 (comorbidities): {df_1_top10['empi_nbr_anon'].nunique():,}")
print(f"Patients in df_2_top10 (labs): {df_2_top10['empi_nbr_anon'].nunique():,}")
print(f"Patients in df_pivoted (skin assessments): {df_pivoted['empi_nbr_anon'].nunique():,}")

Patients in df_4_reduced (wound+demo): 189,633
Patients in df_1_top10 (comorbidities): 189,631
Patients in df_2_top10 (labs): 36,334
Patients in df_pivoted (skin assessments): 2,072

In [134]:
# Step 1: Find common patients across all datasets
common_patients = (
    set(df_4_reduced['empi_nbr_anon']) &
    set(df_1_top10['empi_nbr_anon']) &
    set(df_2_top10['empi_nbr_anon']) &
    set(df_pivoted['empi_nbr_anon'])
)

print(f"Common patients across all datasets: {len(common_patients):,}")

# Step 2: Filter each dataset to only keep common patients
df_4_reduced = df_4_reduced[df_4_reduced['empi_nbr_anon'].isin(common_patients)].copy()
df_1_top10 = df_1_top10[df_1_top10['empi_nbr_anon'].isin(common_patients)].copy()
df_2_top10 = df_2_top10[df_2_top10['empi_nbr_anon'].isin(common_patients)].copy()
df_pivoted = df_pivoted[df_pivoted['empi_nbr_anon'].isin(common_patients)].copy()

Common patients across all datasets: 2,072

In [135]:
# Show final shapes
print(f"df_4_reduced (wound+demo) shape: {df_4_reduced.shape}")
print(f"df_1_top10 (comorbidities) shape: {df_1_top10.shape}")
print(f"df_2_top10 (labs) shape: {df_2_top10.shape}")
print(f"df_pivoted (skin assessments) shape: {df_pivoted.shape}")

df_4_reduced (wound+demo) shape: (20638, 15)
df_1_top10 (comorbidities) shape: (20720, 5)
df_2_top10 (labs) shape: (19958, 4)
df_pivoted (skin assessments) shape: (104400, 21)

In [136]:
# 1. Wound + Demographic Data
df_4_reduced = df_4_reduced.rename(columns={'FIRST_ASSESS_DATE_anon': 'event_timestamp'})
df_4_reduced['event_timestamp'] = pd.to_datetime(df_4_reduced['event_timestamp'], errors='coerce')

# 2. Skin Assessments (Pivoted)
df_pivoted = df_pivoted.rename(columns={'RECORDED_TIME_anon': 'event_timestamp'})
df_pivoted['event_timestamp'] = pd.to_datetime(df_pivoted['event_timestamp'], errors='coerce')

# 3. Lab Results
df_2_top10 = df_2_top10.rename(columns={'lab_result_time_anon': 'event_timestamp'})
df_2_top10['event_timestamp'] = pd.to_datetime(df_2_top10['event_timestamp'], errors='coerce')

# 4. Comorbidities
df_1_top10 = df_1_top10.rename(columns={'LAST_DATE_anon': 'event_timestamp'})
df_1_top10['event_timestamp'] = pd.to_datetime(df_1_top10['event_timestamp'], errors='coerce')

In [137]:
# Check the first few rows of each dataset with event_timestamp column
print("df_4_reduced - Wound + Demographic Data:")
print(df_4_reduced[['empi_nbr_anon', 'event_timestamp']].head())

print("\ndf_pivoted - Skin Assessments (Pivoted):")
print(df_pivoted[['empi_nbr_anon', 'event_timestamp']].head())

print("\ndf_2_top10 - Lab Results:")
print(df_2_top10[['empi_nbr_anon', 'event_timestamp']].head())

print("\ndf_1_top10 - Comorbidities:")
print(df_1_top10[['empi_nbr_anon', 'event_timestamp']].head())

df_4_reduced - Wound + Demographic Data:
        empi_nbr_anon event_timestamp
102394       10030580      2023-04-17
102395       10030580      2023-04-17
102396       10030580      2023-06-19
102402       10030580      2023-06-19
102403       10030580      2023-06-19

df_pivoted - Skin Assessments (Pivoted):
     empi_nbr_anon     event_timestamp
357       10030580 2023-10-25 23:08:00
420       10030580 2023-10-29 15:08:00
436       10030580 2023-10-30 21:00:00
452       10030580 2023-10-31 21:00:00
454       10030580 2023-11-01 22:00:00

df_2_top10 - Lab Results:
    empi_nbr_anon     event_timestamp
60       10030580 2023-04-05 06:23:00
61       10030580 2023-04-05 06:00:00
62       10030580 2023-04-05 06:00:00
63       10030580 2023-04-05 06:00:00
64       10030580 2023-04-05 06:00:00

df_1_top10 - Comorbidities:
     empi_nbr_anon event_timestamp
260       10030580      2025-07-14
261       10030580      2025-07-14
262       10030580      2025-07-14
263       10030580      2025-07-14
264       10030580      2025-07-12

In [139]:
# Step 1: Add a source column to each dataframe to track where each row came from
df_4_reduced['source'] = 'wound'
df_pivoted['source'] = 'skin'
df_2_top10['source'] = 'lab'
df_1_top10['source'] = 'comorb'

# Step 2: Select consistent columns for merging
# We'll align all dataframes to have [empi_nbr_anon, event_timestamp, source, + features]

# Minimal columns for stacking
columns_to_keep_wound = ['empi_nbr_anon', 'event_timestamp', 'source'] + [col for col in df_4_reduced.columns if col not in ['empi_nbr_anon', 'event_timestamp', 'source']]
columns_to_keep_skin = ['empi_nbr_anon', 'event_timestamp', 'source'] + [col for col in df_pivoted.columns if col not in ['empi_nbr_anon', 'event_timestamp', 'source']]
columns_to_keep_lab = ['empi_nbr_anon', 'event_timestamp', 'source'] + [col for col in df_2_top10.columns if col not in ['empi_nbr_anon', 'event_timestamp', 'source']]
columns_to_keep_comorb = ['empi_nbr_anon', 'event_timestamp', 'source'] + [col for col in df_1_top10.columns if col not in ['empi_nbr_anon', 'event_timestamp', 'source']]

# Step 3: Align column order (this is important)
df_4_reduced = df_4_reduced[columns_to_keep_wound]
df_pivoted = df_pivoted[columns_to_keep_skin]
df_2_top10 = df_2_top10[columns_to_keep_lab]
df_1_top10 = df_1_top10[columns_to_keep_comorb]

# Step 4: Vertical Concatenation
df_merged = pd.concat([df_4_reduced, df_pivoted, df_2_top10, df_1_top10], axis=0)

# Step 5: Final Sorting by patient and time
df_merged = df_merged.sort_values(by=['empi_nbr_anon', 'event_timestamp']).reset_index(drop=True)

# Step 6: Verify final merged shape
print(f"Vertical Merged Dataset Shape: {df_merged.shape}")
print(f"Unique Patients: {df_merged['empi_nbr_anon'].nunique()}")
print(f"Timestamp Range: {df_merged['event_timestamp'].min()} to {df_merged['event_timestamp'].max()}")

# View sample
print(df_merged.head())

Vertical Merged Dataset Shape: (165716, 40)
Unique Patients: 2072
Timestamp Range: 2012-07-01 00:00:00 to 2025-12-24 00:00:00
   empi_nbr_anon     event_timestamp source  DAYS_TO_HEAL  \
0       10030580 2023-04-05 06:00:00    lab           NaN
1       10030580 2023-04-05 06:00:00    lab           NaN
2       10030580 2023-04-05 06:00:00    lab           NaN
3       10030580 2023-04-05 06:00:00    lab           NaN
4       10030580 2023-04-05 06:00:00    lab           NaN

   LAST_WOUND_AGE_DAYS  PAT_AGE_YEARS_FIRST_ASSESS  STAGE_INITIAL_C  \
0                  NaN                         NaN              NaN
1                  NaN                         NaN              NaN
2                  NaN                         NaN              NaN
3                  NaN                         NaN              NaN
4                  NaN                         NaN              NaN

   STAGE_CURRENT_C  PCT_HEALED_LAST_ENC  PCT_AREA_HEALED  ...  \
0              NaN                  NaN              NaN  ...
1              NaN                  NaN              NaN  ...
2              NaN                  NaN              NaN  ...
3              NaN                  NaN              NaN  ...
4              NaN                  NaN              NaN  ...

   Pressure Injury or Non-Healing Wound  Primary Wound Type  \
0                                   NaN                 NaN
1                                   NaN                 NaN
2                                   NaN                 NaN
3                                   NaN                 NaN
4                                   NaN                 NaN

  Sensory Perception Site Assessment Treatments  \
0                NaN             NaN        NaN
1                NaN             NaN        NaN
2                NaN             NaN        NaN
3                NaN             NaN        NaN
4                NaN             NaN        NaN

                         component lab_result DX_NAME CURRENT_ICD10_LIST  \
0            Immature Granulocytes       1.00     NaN                NaN
1  Eosinophil, Auto Absolute Count       0.75     NaN                NaN
2    Basophil, Auto Absolute Count       0.15     NaN                NaN
3                 Lymphocyte, Auto      25.00     NaN                NaN
4    Monocyte, Auto Absolute Count       0.99     NaN                NaN

  FIRST_DATE_anon
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

[5 rows x 40 columns]

In [141]:
# Group by your unique ID and count the number of timesteps
timesteps_per_item = df_merged.groupby('empi_nbr_anon').size()

# Quick statistics to understand the spread
print(timesteps_per_item.describe())

count    2072.000000
mean       79.978764
std       115.243795
min        14.000000
25%        33.000000
50%        49.000000
75%        84.000000
max      2207.000000
dtype: float64

In [142]:
# List all columns
print(df_merged.columns.tolist())

['empi_nbr_anon', 'event_timestamp', 'source', 'DAYS_TO_HEAL', 'LAST_WOUND_AGE_DAYS', 'PAT_AGE_YEARS_FIRST_ASSESS', 'STAGE_INITIAL_C', 'STAGE_CURRENT_C', 'PCT_HEALED_LAST_ENC', 'PCT_AREA_HEALED', 'PCT_VOLUME_HEALED', 'NUM_OUTPAT_HOV_VISITS', 'gender', 'race', 'ethnicity', 'is_deceased', 'Braden Scale Score', 'Closure', 'Drainage Amount', 'Drainage Description', 'Dressing', 'Dressing Changed', 'Friction and Shear', 'In Bed Mobility', 'Location', 'Margins', 'Moisture', 'Nutrition', 'Out of Bed Activity', 'Peri-Wound Assessment', 'Pressure Injury or Non-Healing Wound', 'Primary Wound Type', 'Sensory Perception', 'Site Assessment', 'Treatments', 'component', 'lab_result', 'DX_NAME', 'CURRENT_ICD10_LIST', 'FIRST_DATE_anon']

In [143]:
# Drop source column
df_merged = df_merged.drop(columns=['source'])
print(f"'source' column dropped. New shape: {df_merged.shape}")

'source' column dropped. New shape: (165716, 39)

In [144]:
# Save final merged dataset to CSV
df_merged.to_csv('merged_patient_time_series.csv', index=False)

print("Saved merged dataset as 'merged_patient_time_series.csv'")

Saved merged dataset as 'merged_patient_time_series.csv'

In [148]:
df_merged.dtypes

empi_nbr_anon                                    int64
event_timestamp                         datetime64[ns]
DAYS_TO_HEAL                                   float64
LAST_WOUND_AGE_DAYS                            float64
PAT_AGE_YEARS_FIRST_ASSESS                     float64
STAGE_INITIAL_C                                float64
STAGE_CURRENT_C                                float64
PCT_HEALED_LAST_ENC                            float64
PCT_AREA_HEALED                                float64
PCT_VOLUME_HEALED                              float64
NUM_OUTPAT_HOV_VISITS                          float64
gender                                          object
race                                            object
ethnicity                                       object
is_deceased                                    float64
Braden Scale Score                              object
Closure                                         object
Drainage Amount                                 object
Drainage Description                            object
Dressing                                        object
Dressing Changed                                object
Friction and Shear                              object
In Bed Mobility                                 object
Location                                        object
Margins                                         object
Moisture                                        object
Nutrition                                       object
Out of Bed Activity                             object
Peri-Wound Assessment                           object
Pressure Injury or Non-Healing Wound            object
Primary Wound Type                              object
Sensory Perception                              object
Site Assessment                                 object
Treatments                                      object
component                                       object
lab_result                                     float64
DX_NAME                                         object
CURRENT_ICD10_LIST                              object
FIRST_DATE_anon                                 object
dtype: object